# 首次，再次，续贷
* 特征分为 基础特征 历史特征（续贷）
* 关于职业的与联系人的分析
* 可能涉及到的表
    * label:repayment_plan
    * 特征: user、user_auth_from_app、user_contact、user_detail、user_finance_history、user_jr58、user_kefu_info、user_red_packet、user_relation

In [1]:
import warnings

import numpy as np
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import matplotlib
from matplotlib import pyplot as plt
import datetime

%matplotlib inline

plt.style.use('ggplot')

In [3]:
# coding:utf8

import MySQLdb
import pandas as pd


def cash_repay():
    

    conn = MySQLdb.connect(host='sql-audit.quantgroups.com',port=6033,user='wangdi_xyqb_r',passwd='zmXXfQPOGxtN7FBG',db='xyqb',use_unicode=0,charset='utf8')
    cursor = conn.cursor()
    sql = '''
        SELECT user_id, loan_application_history_id, term_no, deadline, required_repayment, repayment_status,repaid_at,created_at
        FROM repayment_plan
    ''' 
    cursor.execute(sql)
    dt = pd.DataFrame(list(cursor.fetchall()), columns = ["user_id", "loan_application_history_id", "term_no", "deadline", "required_repayment", "repayment_status","repaid_at","created_at"])
    return dt


repayment = cash_repay()
repayment.to_csv('cash_repay.csv', index=False)


def cash_repay():
    

    conn = MySQLdb.connect(host='sql-audit.quantgroups.com',port=6033,user='wangdi_xyqb_r',passwd='zmXXfQPOGxtN7FBG',db='xyqb',use_unicode=0,charset='utf8')
    cursor = conn.cursor()
    sql = '''
        SELECT user_id, loan_application_history_id, term_no, deadline, required_repayment, repayment_status,repaid_at,created_at
        FROM repayment_plan
    ''' 
    cursor.execute(sql)
    dt = pd.DataFrame(list(cursor.fetchall()), columns = ["user_id", "loan_application_history_id", "term_no", "deadline", "required_repayment", "repayment_status","repaid_at","created_at"])
    return dt


hh = cash_repay()
hh.to_csv('cash_repay_419.csv', index=False)

def cash_repay():
    

    conn = MySQLdb.connect(host='sql-audit.quantgroups.com',port=6033,user='wangdi_xyqb_r',passwd='zmXXfQPOGxtN7FBG',db='xyqb',use_unicode=0,charset='utf8')
    cursor = conn.cursor()
    sql = '''
        SELECT user_id, loan_application_history_id, term_no, deadline, required_repayment, repayment_status,repaid_at,created_at
        FROM repayment_plan
    ''' 
    cursor.execute(sql)
    dt = pd.DataFrame(list(cursor.fetchall()), columns = ["user_id", "loan_application_history_id", "term_no", "deadline", "required_repayment", "repayment_status","repaid_at","created_at"])
    return dt


hh = cash_repay()
hh.to_csv('cash_repay_421.csv', index=False)

def cash_repay():
    

    conn = MySQLdb.connect(host='sql-audit.quantgroups.com',port=6033,user='wangdi_xyqb_r',passwd='zmXXfQPOGxtN7FBG',db='xyqb',use_unicode=0,charset='utf8')
    cursor = conn.cursor()
    sql = '''
        SELECT user_id, loan_application_history_id, term_no, deadline, required_repayment, repayment_status,repaid_at,created_at
        FROM repayment_plan
    ''' 
    cursor.execute(sql)
    dt = pd.DataFrame(list(cursor.fetchall()), columns = ["user_id", "loan_application_history_id", "term_no", "deadline", "required_repayment", "repayment_status","repaid_at","created_at"])
    return dt


hh = cash_repay()
hh.to_csv('cash_repay_424.csv', index=False)

TypeError: conversion from bytes to Decimal is not supported

In [ ]:
#repayment_plan 的created_at 并非是下单时间，需要v_manifest的loan_start_date
import MySQLdb
import pandas as pd
def loan_application_manifest_history():
    

    conn = MySQLdb.connect(host='sql-audit.quantgroups.com',port=6033,user='wangdi_xyqb_r',passwd='zmXXfQPOGxtN7FBG',db='xyqb',use_unicode=0,charset='utf8')
    cursor = conn.cursor()
    sql = '''
        SELECT user_id, loan_application_history_id, contract_loan_amount, service_fee_per_term,monthly_interest_rate
        FROM loan_application_manifest_history
    ''' 
    cursor.execute(sql)
    dt = pd.DataFrame(list(cursor.fetchall()), columns = ["user_id", "loan_app_ilication_history_id", "contract_loan_amount", 
                                                          "service_fee_per_termhly","monthly_interest_rate"])
    return dt


repayment = loan_application_manifest_history()

repayment.to_csv('loan_application_manifest_history.csv', index=False)

In [ ]:
#为了搞清楚，贷款金额与利率的对应还金额的影响，需要查询loan_application_manifest_history的贷款金额与利息
import MySQLdb
import pandas as pd
def v_manifest():
    

    conn = MySQLdb.connect(host='sql-audit.quantgroups.com',port=6033,user='wangdi_xyqb_r',passwd='zmXXfQPOGxtN7FBG',db='xyqb',use_unicode=0,charset='utf8')
    cursor = conn.cursor()
    sql = '''
        SELECT user_id, loan_application_history_id,loan_start_date
        FROM v_manifest
    ''' 
    cursor.execute(sql)
    dt = pd.DataFrame(list(cursor.fetchall()), columns = ["user_id", "loan_application_history_id","loan_start_date"])
    return dt


repayment = v_manifest()

repayment.to_csv('v_manifest.csv', index=False)

In [45]:
loan_application_manifest_history = pd.read_csv("loan_application_manifest_history.csv")
loan_application_manifest_history.columns = ['user_id', 'loan_application_history_id', 'contract_loan_amount',
       'service_fee_per_termhly', 'monthly_interest_rate']
loan_application_manifest_history.head()

,user_id,loan_application_history_id,contract_loan_amount,service_fee_per_termhly,monthly_interest_rate
0,1001,1001,1100.0,30.0,0.0154
1,104,104,1100.0,30.0,0.0154
2,316,316,1100.0,30.0,0.0154
3,42,42,1100.0,30.0,0.0154
4,367,367,1100.0,30.0,0.0154

In [43]:
loan_application_manifest_history.columns

Index(['user_id', 'loan_app_ilication_history_id', 'contract_loan_amount',
       'service_fee_per_termhly', 'monthly_interest_rate'],
      dtype='object')

In [30]:
loan_application_manifest_history.groupby(['contract_loan_amount'])['service_fee_per_term'].agg(['mean','median'])

                             mean  median
contract_loan_amount
1000.0                  89.222746    87.5
1100.0                  30.000000    30.0
1500.0                 150.000000   150.0
2000.0                 122.693152   120.0
2200.0                  34.285714    30.0
2999.0                   0.000000     0.0
3000.0                 158.191078   180.0
4000.0                 195.208843   240.0
4400.0                  30.000000    30.0
5000.0                 176.547704   200.0
6000.0                 208.592609   240.0
8000.0                 145.000000   160.0
10000.0                  0.000000     0.0
24000.0                720.000000   720.0
42000.0               1680.000000  1680.0

In [174]:
v_manifest = pd.read_csv("v_manifest.csv")
v_manifest.head(),v_manifest.shape

(   user_id  loan_application_history_id      loan_start_date
 0     1001                         1001  2015-08-17 23:59:59
 1      104                          104  2015-08-19 23:59:59
 2      316                          316  2015-08-18 23:59:59
 3       42                           42  2015-08-18 23:59:59
 4      367                          367  2015-08-18 23:59:59, (1943828, 3))

In [35]:
repayment = pd.read_csv("cash_repay.csv")
repayment.created_at = pd.to_datetime(repayment.created_at)
repayment.deadline = pd.to_datetime(repayment.deadline)

In [24]:
repayment_419 = pd.read_csv('cash_repay_419.csv')
repayment_419.created_at = pd.to_datetime(repayment_419.created_at)
repayment_419.deadline = pd.to_datetime(repayment_419.deadline)

repayment_419_djb = repayment_419[( repayment_419.term_no==1)].loc[repayment_419.groupby(['user_id'])['created_at'].idxmin()]

repayment_419_djb =repayment_419_djb[repayment_419_djb.deadline>='2017-04-01']

In [2]:
repayment_421 = pd.read_csv('cash_repay_421.csv')
repayment_421.created_at = pd.to_datetime(repayment_421.created_at)
repayment_421.deadline = pd.to_datetime(repayment_421.deadline)

repayment_421_djb = repayment_421[( repayment_421.term_no==1)].loc[repayment_421.groupby(['user_id'])['created_at'].idxmin()]

repayment_421_djb =repayment_421_djb[repayment_421_djb.deadline>='2017-04-01']

In [31]:
repayment_424 = pd.read_csv('cash_repay_424.csv')
repayment_424.created_at = pd.to_datetime(repayment_424.created_at)
repayment_424.deadline = pd.to_datetime(repayment_424.deadline)

repayment_424_djb = repayment_424[( repayment_424.term_no==1)].loc[repayment_424.groupby(['user_id'])['created_at'].idxmin()]

repayment_424_djb =repayment_424_djb[repayment_424_djb.deadline>='2017-04-01']

In [261]:
repayment_419_djb.shape

(191763, 8)

In [249]:
repayment_419_djb.shape,len(repayment_419_djb.user_id.unique())
print(repayment_419_djb.shape)
repayment_419_djb.groupby(['user_id']).count().sort_values(['loan_application_history_id'],ascending=False)

(624063, 8)

,loan_application_history_id,term_no,deadline,required_repayment,repayment_status,repaid_at,created_at
user_id,,,,,,,
58.0,1,1,1,1,1,1,1
26516358.0,1,1,1,1,1,1,1
26516616.0,1,1,1,1,1,1,1
26516510.0,1,1,1,1,1,1,1
26516468.0,1,1,1,1,1,1,1
26516406.0,1,1,1,1,1,1,1
26516386.0,1,1,1,1,1,1,1
26516384.0,1,1,1,1,1,1,1
26516352.0,1,1,1,1,1,1,1
26512338.0,1,1,1,1,1,1,1
26516296.0,1,1,1,1,1,1,1
26516286.0,1,1,1,1,1,1,1
26516222.0,1,1,1,1,1,1,1
26516188.0,1,1,1,1,1,1,1
26516166.0,1,1,1,1,1,1,1
26516150.0,1,1,1,1,1,1,1
26516722.0,1,1,1,1,1,1,1
26516766.0,1,1,1,1,1,1,1
26516802.0,1,1,1,1,1,1,1
26516818.0,1,1,1,1,1,1,1
26516834.0,1,1,1,1,1,1,1
26516866.0,1,1,1,1,1,1,1
26516896.0,1,1,1,1,1,1,1
26516898.0,1,1,1,1,1,1,1
26517012.0,1,1,1,1,1,1,1
26517022.0,1,1,1,1,1,1,1
26517084.0,1,1,1,1,1,1,1
26517122.0,1,1,1,1,1,1,1
26517132.0,1,1,1,1,1,1,1
26517138.0,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...
17353372.0,1,1,1,1,1,1,1
17353374.0,1,1,1,1,1,1,1
17353540.0,1,1,1,1,1,1,1
17353586.0,1,1,1,1,1,1,1
17353702.0,1,1,1,1,1,1,1
17353714.0,1,1,1,1,1,1,1
17353782.0,1,1,1,1,1,1,1
17353856.0,1,1,1,1,1,1,1
17353902.0,1,1,1,1,1,1,1
17354394.0,1,1,1,1,1,1,1
17354460.0,1,1,1,1,1,1,1
17354802.0,1,1,1,1,1,1,1
17355018.0,1,1,1,1,1,1,1
17355334.0,1,1,1,1,1,1,1
17356796.0,1,1,1,1,1,1,1
17355460.0,1,1,1,1,1,1,1
17355600.0,1,1,1,1,1,1,1
17355612.0,1,1,1,1,1,1,1
17355618.0,1,1,1,1,1,1,1
17355656.0,1,1,1,1,1,1,1
17355768.0,1,1,1,1,1,1,1
17355770.0,1,1,1,1,1,1,1
17355808.0,1,1,1,1,1,1,1
17355810.0,1,1,1,1,1,1,1
17355938.0,1,1,1,1,1,1,1
17356396.0,1,1,1,1,1,1,1
17356480.0,1,1,1,1,1,1,1
17356570.0,1,1,1,1,1,1,1
17356774.0,1,1,1,1,1,1,1
29457428.0,1,1,1,1,1,1,1

In [291]:
one = repayment_419_djb[["loan_application_history_id",'deadline',"required_repayment",'repayment_status',"repaid_at"]]
one = one.dropna(how="any")
one.columns=["loan_application_history_id",'deadline',"required_repayment_419",'repayment_status_419',"repaid_at_419"]
two = last_user[["loan_application_history_id","required_repayment",'repayment_status',"repaid_at"]]
two = two.dropna(how="any")
one_two = pd.merge(one,two,how='left',on="loan_application_history_id")
sum(one_two.required_repayment_419 != one_two.required_repayment)

one_two[(one_two.deadline=='2017-4-19')&(one_two.required_repayment.isin(t.index))&(one_two.repayment_status_419!=one_two.repayment_status)]
                                        
one_two[(one_two.repaid_at!="2000-01-01 00:00:00")&(one_two.repaid_at!=one_two.repaid_at_419)&(one_two.deadline<'2017-05-01')]

#one_two[(one_two.deadline>='2017-4-24')&(one_two.required_repayment.isin(t.index))&
   #     (one_two.repaid_at_419!='2000-01-01 00:00:00')]

#one_two[((one_two.deadline>='2017-4-2'))&((one_two.deadline <'2017-4-18'))&(one_two.required_repayment.isin(t.index))&
        #(one_two.repaid_at_419!='2000-01-01 00:00:00')]

,loan_application_history_id,deadline,required_repayment_419,repayment_status_419,repaid_at_419,required_repayment,repayment_status,repaid_at
41,44877706.0,2017-04-21,800.04,0.0,2017-04-19 11:32:32,800.04,0.0,2017-04-17 19:35:26
640,236443.0,2017-04-26,800.04,3.0,2017-04-18 15:18:10,800.04,0.0,2017-04-17 12:45:37
1074,30197938.0,2017-04-25,830.04,3.0,2017-04-19 11:09:41,830.04,0.0,2017-04-17 03:13:46
1158,44371418.0,2017-04-22,1573.33,0.0,2017-04-19 07:41:16,1573.33,0.0,2017-03-26 00:02:16
1242,45473948.0,2017-04-22,800.04,3.0,2017-04-19 00:36:24,800.04,0.0,2017-03-26 21:56:57
1506,46020862.0,2017-04-24,800.04,3.0,2017-04-18 18:17:03,800.04,0.0,2017-04-15 09:47:19
1603,44063586.0,2017-04-21,800.04,3.0,2017-04-19 11:23:35,800.04,0.0,2017-04-18 10:54:53
1744,44214210.0,2017-04-21,800.04,0.0,2017-04-19 00:47:21,800.04,0.0,2017-04-03 14:42:50
1951,44984962.0,2017-04-20,800.04,3.0,2017-04-19 10:53:10,800.04,0.0,2017-04-18 01:06:26
1986,44783174.0,2017-04-16,2280.13,0.0,2017-04-18 19:09:19,2280.13,0.0,2017-03-24 16:19:17
2108,45034060.0,2017-04-19,802.29,3.0,2017-04-18 18:11:33,802.29,0.0,2017-04-16 14:40:30
2154,26799084.0,2017-04-29,800.04,0.0,2017-04-18 15:46:10,800.04,0.0,2017-04-10 16:49:40
2186,34581086.0,2017-04-22,800.04,3.0,2017-04-18 18:13:24,800.04,0.0,2017-04-16 21:57:35
2215,45851506.0,2017-04-24,800.04,3.0,2017-04-18 19:00:39,800.04,0.0,2017-03-27 21:50:12
2292,45020374.0,2017-04-20,1573.33,3.0,2017-04-19 00:33:07,1573.33,0.0,2017-03-24 22:14:54
2320,45386890.0,2017-04-20,800.04,3.0,2017-04-18 14:41:06,800.04,0.0,2017-04-17 12:25:06
2480,44514592.0,2017-04-14,801.72,3.0,2017-04-18 21:14:03,801.72,0.0,2017-04-18 07:10:28
2493,45036752.0,2017-04-21,800.04,0.0,2017-04-18 19:55:12,800.04,0.0,2017-04-18 09:52:56
2537,45588596.0,2017-04-21,1600.09,3.0,2017-04-18 15:56:59,1600.09,0.0,2017-04-13 22:19:56
2714,43150477.0,2017-04-03,1900.11,3.0,2017-04-18 20:36:35,1900.11,0.0,2017-03-14 21:00:26
2939,43130121.0,2017-04-20,1600.09,0.0,2017-04-19 09:32:57,1600.09,0.0,2017-03-27 06:07:27
3078,45331652.0,2017-04-19,2280.13,3.0,2017-04-18 20:08:35,2280.13,0.0,2017-04-17 13:38:30
3178,45701062.0,2017-04-22,800.04,3.0,2017-04-18 21:01:19,800.04,0.0,2017-04-17 19:56:08
3236,45303136.0,2017-04-19,1600.09,3.0,2017-04-18 14:57:37,1600.09,0.0,2017-04-07 02:30:29
3515,40896693.0,2017-04-06,800.04,3.0,2017-04-18 13:12:26,800.04,0.0,2017-04-05 18:52:41
3828,45313854.0,2017-04-19,800.04,3.0,2017-04-18 22:51:45,800.04,0.0,2017-03-18 17:11:37
3889,45450498.0,2017-04-21,2280.13,3.0,2017-04-19 00:28:09,2280.13,0.0,2017-04-14 04:15:35
3908,45122606.0,2017-04-21,800.04,0.0,2017-04-19 06:51:56,800.04,0.0,2017-03-20 18:22:02
3985,45204000.0,2017-04-21,800.04,3.0,2017-04-19 11:17:47,800.04,0.0,2017-04-18 08:46:13
3988,44164846.0,2017-04-11,801.72,0.0,2017-04-18 21:42:17,801.72,0.0,2017-04-18 11:58:17
...,...,...,...,...,...,...,...,...
144303,46944236.0,2017-04-29,800.04,0.0,2017-04-18 20:34:19,800.04,0.0,2017-04-14 15:35:50
144357,46947750.0,2017-04-29,800.04,3.0,2017-04-19 09:00:22,800.04,0.0,2017-04-11 11:40:53
144441,46953370.0,2017-04-30,800.04,0.0,2017-04-19 07:57:00,800.04,0.0,2017-04-18 09:25:11
144533,46959582.0,2017-04-30,786.67,3.0,2017-04-18 19:16:07,786.67,0.0,2017-04-09 21:41:24
144692,46971328.0,2017-04-30,801.72,3.0,2017-04-19 09:48:54,801.72,0.0,2017-03-29 12:24:57
144800,46980284.0,2017-04-30,2280.13,0.0,2017-04-19 08:21:57,2280.13,0.0,2017-04-14 08:21:48
145061,47003710.0,2017-04-30,801.72,0.0,2017-04-18 23:04:09,801.72,0.0,2017-04-16 19:44:54
145423,47030570.0,2017-04-29,1573.33,0.0,2017-04-19 06:46:49,1573.33,0.0,2017-04-16 19:35:18
145469,47028600.0,2017-04-29,786.67,0.0,2017-04-18 17:39:31,786.67,0.0,2017-04-02 14:14:54
145677,47038742.0,2017-04-29,2240.00,3.0,2017-04-19 10:15:08,2240.00,0.0,2017-03-29 12:41:19
145957,47054690.0,2017-04-29,786.67,3.0,2017-04-19 10:16:42,786.67,0.0,2017-04-14 11:06:51
146044,47060704.0,2017-04-30,2285.17,0.0,2017-04-18 14:34:01,2285.17,0.0,2017-04-18 01:43:34
146059,47060548.0,2017-04-30,1573.33,0.0,2017-04-18 17:39:26,1573.33,0.0,2017-04-01 15:18:47
146078,47061602.0,2017-04-30,2240.00,0.0,2017-04-18 22:34:30,2240.00,0.0,2017-04-12 21:15:10
146487,47084424.0,2017-04-30,786.67,3.0,2017-04-18 17:49:39,786.67,0.0,2017-04-17 21:22:21
146716,47097712.0,2017-04-30,2285.17,0.0,2017-04-18 14:33:50,2285.17,0.0,2017-04-11 00:40:36
146768,47101106.0,2017-04-30,2285.17,3.0,2017-04-18 23:07:35,2285.17,0.0,2017-04-05 10:19:55
146786,47101942.0,2017-04-30,800.04,0.0,2017-04-19 01:13:11,800.04,0.0,2017-04-12 01:50:02
146876,47212232.0,2017-04-30,2280.13,3.0,2017-04-18 20:04:39,2280.13,0.0,2017-04-06 22:05:31
147127,47122794.0,2017-04-30,1600.09,3.0,2017-04-18 22:45:01,1600.09,0.0,2017-03-31 08:52:50
147365,47137520.0,2017-04-30,1573.33,3.0,2017-04-19 01:23:02,1573.33,0.0,2017-03-30 10:27:00
147374,47138056.0,2017-04-30,801.72,0.0,2017-04-18 18:41:32,801.72,0.0,2017-04-17 17:14:00
147733,47164616.0,2017-04-30,800.04,3.0,2017-04-18 20:00:39,800.04,0.0,2017-04-18 00:47:06
147822,47169278.0,2017-04-30,800.04,0.0,2017-04-19 08:05:00,800.04,0.0,2017-03-29 17:59:00
148430,47200776.0,2017-04-30,800.04,0.0,2017-04-18 20:04:24,800.04,0.0,2017-04-09 11:39:56
148544,47206622.0,2017-04-30,800.04,3.0,2017-04-18 14:13:01,800.04,0.0,2017-03-30 14:25:19
148672,47213302.0,2017-04-30,800.04,0.0,2017-04-19 10:04:25,800.04,0.0,2017-04-15 02:38:12
148769,47218000.0,2017-04-30,786.67,3.0,2017-04-18 15:04:51,786.67,0.0,2017-04-18 08:07:27
148877,47223616.0,2017-04-30,786.67,0.0,2017-04-19 05:46:10,786.67,0.0,2017-04-13 16:07:46
148986,47229198.0,2017-04-30,1573.33,0.0,2017-04-19 01:36:46,1573.33,0.0,2017-04-05 14:00:53

In [243]:
one_two[(one_two.required_repayment_419.isin(t.index))&(one_two.deadline=='2017-04-07')]

,loan_application_history_id,deadline,required_repayment_419,repayment_status_419,required_repayment,repayment_status
1280,43725188.0,2017-04-07,2225.17,3.0,NaN,NaN
1620,43644790.0,2017-04-07,2225.17,3.0,NaN,NaN
2489,35869342.0,2017-04-07,831.19,0.0,NaN,NaN
3786,31267574.0,2017-04-07,1606.80,0.0,NaN,NaN
4160,43648054.0,2017-04-07,2225.17,3.0,NaN,NaN
4408,43644198.0,2017-04-07,2225.17,3.0,NaN,NaN
4654,41916437.0,2017-04-07,1902.96,0.0,NaN,NaN
4663,43420502.0,2017-04-07,2225.17,3.0,NaN,NaN
5020,27137496.0,2017-04-07,2283.56,0.0,NaN,NaN
5559,43726806.0,2017-04-07,2225.17,3.0,NaN,NaN
5722,43726252.0,2017-04-07,2225.17,3.0,NaN,NaN
5834,43562782.0,2017-04-07,2225.17,3.0,NaN,NaN
6210,43726558.0,2017-04-07,2225.17,3.0,NaN,NaN
6506,35838680.0,2017-04-07,2180.00,3.0,NaN,NaN
8579,43726172.0,2017-04-07,2225.17,3.0,NaN,NaN
8639,43506118.0,2017-04-07,2225.17,3.0,NaN,NaN
9012,43528300.0,2017-04-07,2225.17,3.0,NaN,NaN
9940,43645300.0,2017-04-07,2225.17,3.0,NaN,NaN
10368,43601324.0,2017-04-07,2225.17,3.0,NaN,NaN
10592,43564060.0,2017-04-07,2225.17,3.0,NaN,NaN
11748,43647434.0,2017-04-07,2225.17,3.0,NaN,NaN
12285,43646948.0,2017-04-07,2225.17,3.0,NaN,NaN
12392,43560708.0,2017-04-07,2225.17,3.0,NaN,NaN
12874,43600688.0,2017-04-07,2225.17,3.0,NaN,NaN
13178,43756268.0,2017-04-07,2225.17,0.0,NaN,NaN
13237,43600226.0,2017-04-07,2225.17,3.0,NaN,NaN
13995,43648640.0,2017-04-07,2225.17,3.0,NaN,NaN
14224,43725250.0,2017-04-07,2225.17,3.0,NaN,NaN
14236,43647136.0,2017-04-07,2225.17,3.0,NaN,NaN
14386,43642750.0,2017-04-07,2225.17,3.0,NaN,NaN
...,...,...,...,...,...,...
122062,32878214.0,2017-04-07,833.40,0.0,833.40,0.0
122206,43599676.0,2017-04-07,2225.17,3.0,NaN,NaN
123039,33029954.0,2017-04-07,831.19,0.0,831.19,0.0
125923,43726708.0,2017-04-07,2225.17,3.0,NaN,NaN
126047,43635030.0,2017-04-07,2225.17,3.0,NaN,NaN
126586,43726004.0,2017-04-07,2225.17,3.0,NaN,NaN
129529,43644626.0,2017-04-07,2225.17,3.0,NaN,NaN
129809,43644898.0,2017-04-07,2225.17,3.0,NaN,NaN
134577,34643004.0,2017-04-07,831.19,0.0,831.19,0.0
140115,42914681.0,2017-04-07,1905.73,0.0,1905.73,0.0
144229,35876082.0,2017-04-07,801.19,0.0,801.19,0.0
148808,36877700.0,2017-04-07,1606.80,0.0,1606.80,0.0
148974,36916556.0,2017-04-07,801.19,0.0,801.19,0.0
158234,39603365.0,2017-04-07,831.19,0.0,831.19,0.0
158656,39741053.0,2017-04-07,832.29,0.0,832.29,0.0
159389,39995445.0,2017-04-07,832.29,0.0,832.29,0.0
160347,40415013.0,2017-04-07,802.29,0.0,802.29,0.0
162385,41221901.0,2017-04-07,832.29,0.0,832.29,0.0
162485,41272855.0,2017-04-07,832.29,0.0,832.29,0.0
163511,41693599.0,2017-04-07,832.29,0.0,832.29,0.0
163824,41809989.0,2017-04-07,802.29,0.0,802.29,0.0
164160,41917293.0,2017-04-07,1902.96,0.0,1902.96,0.0
165066,42221045.0,2017-04-07,831.19,0.0,831.19,0.0
166365,42602601.0,2017-04-07,1604.59,0.0,1604.59,0.0
167295,42800107.0,2017-04-07,832.29,0.0,832.29,0.0
167348,42812229.0,2017-04-07,832.29,0.0,832.29,0.0
167387,42816123.0,2017-04-07,832.29,0.0,832.29,0.0
167473,42833065.0,2017-04-07,832.29,0.0,832.29,0.0
167495,42836469.0,2017-04-07,832.29,0.0,832.29,0.0
167779,42877429.0,2017-04-07,832.29,0.0,832.29,0.0

In [241]:
repayment_419_djb[repayment_419_djb.deadline=='2017-04-17'].shape,last_user[last_user.deadline=='2017-04-17'].shape,
repayment_419_djb[(repayment_419_djb.deadline=='2017-04-07')&(repayment_419_djb.repayment_status==3)&
                 (repayment_419_djb.required_repayment.isin(t.index))]

one[(one.deadline=='2017-04-07')&(one.repayment_status_419==3)&
                 (one.required_repayment_419.isin(t.index))]

,loan_application_history_id,deadline,required_repayment_419,repayment_status_419
741739,43725188.0,2017-04-07,2225.17,3.0
730426,43644790.0,2017-04-07,2225.17,3.0
730147,43648054.0,2017-04-07,2225.17,3.0
733207,43644198.0,2017-04-07,2225.17,3.0
721924,43420502.0,2017-04-07,2225.17,3.0
742792,43726806.0,2017-04-07,2225.17,3.0
742465,43726252.0,2017-04-07,2225.17,3.0
735199,43562782.0,2017-04-07,2225.17,3.0
743494,43726558.0,2017-04-07,2225.17,3.0
748663,35838680.0,2017-04-07,2180.00,3.0
744067,43726172.0,2017-04-07,2225.17,3.0
733249,43506118.0,2017-04-07,2225.17,3.0
723910,43528300.0,2017-04-07,2225.17,3.0
729967,43645300.0,2017-04-07,2225.17,3.0
721597,43601324.0,2017-04-07,2225.17,3.0
725833,43564060.0,2017-04-07,2225.17,3.0
730141,43647434.0,2017-04-07,2225.17,3.0
731155,43646948.0,2017-04-07,2225.17,3.0
721939,43560708.0,2017-04-07,2225.17,3.0
739999,43600688.0,2017-04-07,2225.17,3.0
721456,43600226.0,2017-04-07,2225.17,3.0
730462,43648640.0,2017-04-07,2225.17,3.0
742741,43725250.0,2017-04-07,2225.17,3.0
730942,43647136.0,2017-04-07,2225.17,3.0
730582,43642750.0,2017-04-07,2225.17,3.0
736789,43646240.0,2017-04-07,2225.17,3.0
730546,43646544.0,2017-04-07,2225.17,3.0
734416,43646252.0,2017-04-07,2225.17,3.0
718879,43599972.0,2017-04-07,2225.17,3.0
723427,43473128.0,2017-04-07,2225.17,3.0
...,...,...,...,...
730345,43648864.0,2017-04-07,2225.17,3.0
724222,38881623.0,2017-04-07,2225.17,3.0
743704,43724172.0,2017-04-07,2225.17,3.0
730477,43648552.0,2017-04-07,2225.17,3.0
736006,43646900.0,2017-04-07,2225.17,3.0
741892,43726280.0,2017-04-07,2225.17,3.0
733507,43646122.0,2017-04-07,2225.17,3.0
729232,38045779.0,2017-04-07,2225.17,3.0
730597,43648024.0,2017-04-07,2225.17,3.0
736795,43557584.0,2017-04-07,2225.17,3.0
719647,43601124.0,2017-04-07,2225.17,3.0
730588,43646746.0,2017-04-07,2225.17,3.0
724444,43600254.0,2017-04-07,2225.17,3.0
731512,43648456.0,2017-04-07,2225.17,3.0
759205,35880588.0,2017-04-07,2180.00,3.0
730246,43190665.0,2017-04-07,2225.17,3.0
718786,43501802.0,2017-04-07,2225.17,3.0
743776,43724622.0,2017-04-07,2225.17,3.0
730819,43646226.0,2017-04-07,2225.17,3.0
741601,43725234.0,2017-04-07,2225.17,3.0
722104,43562990.0,2017-04-07,2225.17,3.0
725623,43473458.0,2017-04-07,2225.17,3.0
730981,43649580.0,2017-04-07,2225.17,3.0
743086,40651233.0,2017-04-07,2225.17,3.0
720133,43599676.0,2017-04-07,2225.17,3.0
742114,43726708.0,2017-04-07,2225.17,3.0
731542,43635030.0,2017-04-07,2225.17,3.0
742135,43726004.0,2017-04-07,2225.17,3.0
731152,43644626.0,2017-04-07,2225.17,3.0
731563,43644898.0,2017-04-07,2225.17,3.0

In [239]:
repayment_419_djb[repayment_419_djb.deadline=='2017-04-17'].shape

(6417, 8)

In [197]:
last_user.deadline.min(),last_user.deadline.max(),repayment_419.deadline.min(),repayment_419_djb.deadline.max()

(Timestamp('2015-07-28 00:00:00'),
 Timestamp('2017-05-19 00:00:00'),
 Timestamp('2017-04-01 00:00:00'),
 Timestamp('2017-05-20 00:00:00'))

In [180]:
repayment_419_djb.shape,last_user.shape

((988242, 11), (988242, 11))

In [37]:
repayment.head()

,user_id,loan_application_history_id,term_no,deadline,required_repayment,repayment_status,repaid_at,created_at
0,1001,1001,1,2015-09-18 00:00:00,408.0,3.0,2015-08-26 00:31:57,2015-08-18 19:06:19
1,1001,1001,2,2015-10-18 00:00:00,408.0,3.0,2015-08-26 00:33:00,2015-08-18 19:06:19
2,1001,1001,3,2015-11-18 00:00:00,408.0,3.0,2015-08-26 10:32:14,2015-08-18 19:06:19
3,316,316,1,2015-09-19 00:00:00,408.0,3.0,2015-09-16 19:38:19,2015-08-19 16:53:42
4,316,316,2,2015-10-19 00:00:00,408.0,3.0,2015-10-13 11:55:45,2015-08-19 16:53:42

In [36]:
repayment.shape,len(repayment.user_id.unique()),len(repayment.loan_application_history_id.unique())

((6276716, 8), 988242, 2089131)

In [47]:
repayment = pd.merge(repayment,loan_application_manifest_history[["loan_application_history_id","contract_loan_amount","service_fee_per_termhly","monthly_interest_rate"]],how='left',on="loan_application_history_id")

In [48]:
repayment.shape

(6276716, 11)

In [7]:
# 总用户数量
len(repayment.user_id.unique())

984299

In [6]:

#

In [7]:
repayment.term_no.max()

9

In [21]:
repayment.shape
len(repayment[(repayment.deadline>'2017-04-14')].user_id.unique())

591438

In [66]:

last_user= repayment[(repayment.term_no==1)].loc[repayment.groupby(['user_id'])['created_at'].idxmin()]
last_user=last_user[(last_user.deadline>'2017-04-19')&(last_user.month==4)]

In [74]:
last_user['month'] = last_user.deadline.dt.month
last_user=last_user[(last_user.deadline>'2017-04-17')&(last_user.month==4)]

In [75]:
loan_application_manifest_history.head()

last_user.head()

NameError: name 'loan_application_manifest_history' is not defined

In [76]:
print(last_user.shape)
last_user.groupby(['required_repayment']).count()['user_id']

(46611, 9)

required_repayment
704.31       235
710.31        50
740.04         5
786.67      4682
800.04     21916
800.31       103
801.19        22
801.72      2751
802.29       228
803.40         9
816.67       173
830.04       783
830.31         4
831.19        77
831.72       115
832.29        49
833.40        12
1180.00        3
1215.29       80
1219.74       35
1408.63       91
1420.63       12
1453.33       33
1480.09      498
1483.45       15
1573.33     1355
1600.09     6103
1600.63       18
1602.37       19
1603.45      716
1604.59       69
1606.80        5
1850.11        2
1900.11      135
1902.96        6
1904.31        4
1905.73        3
2180.00        4
2220.13       93
2225.17        4
2226.88        1
2240.00     1091
2280.13     4364
2280.94       16
2283.56       14
2285.17      564
2286.88       38
2290.21        6
Name: user_id, dtype: int64

In [25]:
last_user= repayment[(repayment.term_no==1)].loc[repayment.groupby(['user_id'])['created_at'].idxmin()]
last_user=last_user[(last_user.deadline>'2017-05-01')]
last_user.groupby(['required_repayment']).count()['user_id']

required_repayment
704.31       664
710.31        27
740.04         2
786.67      4176
793.44         1
800.04     18034
800.31      2603
801.72      4566
802.29     13165
803.40         1
816.67       225
830.04       983
830.31         5
831.72       164
832.29        79
1159.74        1
1161.26        1
1180.00        6
1215.29       11
1219.74       35
1221.26       75
1408.63      254
1420.63       10
1453.33       14
1480.09       94
1480.63        9
1483.45       12
1484.59      116
1573.33     1309
1600.09     5619
1600.63      474
1603.45     1295
1604.59     3805
1900.11      119
1904.31       10
1905.73        6
2180.00        1
2220.13       20
2226.88       19
2240.00     1134
2280.13     4443
2280.94      397
2285.17     1002
2286.88     2977
Name: user_id, dtype: int64

In [103]:
#last_user_kl= repayment[(repayment.term_no==1)].loc[repayment.groupby(['user_id'])['created_at'].idxmin()]
last_user_kl=last_user_kl[(last_user_kl.deadline>='2017-04-1')&(last_user_kl.deadline<='2017-04-14')]

In [110]:
print(last_user_kl[last_user_kl.required_repayment.isin(t.index)][last_user_kl.repayment_status==3].shape)
print(last_user_kl[last_user_kl.required_repayment.isin(t.index)].shape)

last_user_kl[last_user_kl.required_repayment.isin(t.index)][last_user_kl.repayment_status==3]

(11, 11)
(605, 11)

,user_id,loan_application_history_id,term_no,deadline,required_repayment,repayment_status,repaid_at,created_at,contract_loan_amount,service_fee_per_termhly,monthly_interest_rate
4866272,4232163.0,42250493.0,1.0,2017-04-01,831.19,3.0,2017-03-30 08:49:02,2017-02-23 22:13:19,2000.0,150.0,0.010850
4863887,22143764.0,42348893.0,1.0,2017-04-01,831.19,3.0,2017-04-03 11:59:39,2017-02-23 19:23:43,2000.0,150.0,0.010850
4847414,22259146.0,35218660.0,1.0,2017-04-01,831.19,3.0,2017-03-29 17:24:25,2017-02-23 11:19:02,2000.0,150.0,0.010850
4862543,25750984.0,42514523.0,1.0,2017-04-01,831.19,3.0,2017-03-31 09:20:47,2017-02-23 18:21:43,2000.0,150.0,0.010850
4863446,25752228.0,42517403.0,1.0,2017-04-01,831.19,3.0,2017-03-29 12:46:04,2017-02-23 18:48:05,2000.0,150.0,0.010850
4863203,25754264.0,42521413.0,1.0,2017-04-01,831.19,3.0,2017-03-31 19:50:56,2017-02-23 18:38:33,2000.0,150.0,0.010850
4863530,25754402.0,42521473.0,1.0,2017-04-01,831.19,3.0,2017-03-31 11:38:05,2017-02-23 18:53:29,2000.0,150.0,0.010850
4865342,25756096.0,42524061.0,1.0,2017-04-01,831.19,3.0,2017-03-31 23:28:04,2017-02-23 21:09:47,2000.0,150.0,0.010850
4867616,25763188.0,42538473.0,1.0,2017-04-01,1902.96,3.0,2017-03-31 17:06:05,2017-02-24 06:26:26,5000.0,200.0,0.010850
4866857,25766520.0,42548273.0,1.0,2017-04-01,1602.37,3.0,2017-03-31 12:16:51,2017-02-23 23:03:00,4000.0,240.0,0.010850
5274755,26709862.0,44579502.0,1.0,2017-04-14,2180.00,3.0,2017-04-11 10:36:32,2017-03-13 10:27:38,6000.0,180.0,0.000833

In [112]:
last_user= repayment[(repayment.term_no==1)].loc[repayment.groupby(['user_id'])['created_at'].idxmin()]

(53333, 11)

required_repayment
704.31       243
710.31        69
740.04         6
786.67      5216
800.04     25174
800.31       108
801.19        25
801.72      3062
802.29       246
803.40        11
816.67       218
830.04       918
830.31         6
831.19        84
831.72       143
832.29        93
833.40        15
1180.00        3
1215.29       91
1219.74       38
1408.63       91
1420.63       19
1453.33       41
1480.09      633
1483.45       16
1573.33     1515
1600.09     7040
1600.63       19
1602.37       22
1603.45      809
1604.59       79
1606.80        5
1850.11        2
1900.11      147
1902.96        7
1904.31        4
1905.73        5
2180.00        5
2220.13      109
2225.17        6
2226.88        1
2240.00     1216
2280.13     5052
2280.94       18
2283.56       17
2285.17      639
2286.88       41
2290.21        6
Name: user_id, dtype: int64

In [169]:
last_user2=last_user[(last_user.deadline>='2017-04-1')&(last_user.deadline<'2017-5-1')]
for i in sorted(last_user2.deadline.unique()):
#print(last_user2.shape)
#last_user2.groupby(['required_repayment']).count()['user_id']
#last_user2.deadline.min(),last_user2.deadline.max()

    print(i,last_user2[last_user2.deadline==i][last_user2.required_repayment.isin(t.index)][last_user2.repayment_status==3].shape[0],end=' ')
    print(last_user2[last_user2.deadline==i][last_user2.required_repayment.isin(t.index)].shape[0],end=" ")
    print(last_user2[last_user2.deadline==i][last_user2.repayment_status==3].shape[0],end=" ")
    print(last_user2[last_user2.deadline==i].shape[0])

2017-04-01T00:00:00.000000000 10 10 515 551
2017-04-02T00:00:00.000000000 0 113 2422 2881
2017-04-03T00:00:00.000000000 0 74 2366 2743
2017-04-04T00:00:00.000000000 0 58 2223 2603
2017-04-05T00:00:00.000000000 0 49 1745 2051
2017-04-06T00:00:00.000000000 0 39 2237 2625
2017-04-07T00:00:00.000000000 0 43 3089 3552
2017-04-08T00:00:00.000000000 0 48 2789 3299
2017-04-09T00:00:00.000000000 0 33 2821 3342
2017-04-10T00:00:00.000000000 0 45 3033 3583
2017-04-11T00:00:00.000000000 0 28 3660 4280
2017-04-12T00:00:00.000000000 0 16 2296 2753
2017-04-13T00:00:00.000000000 0 25 2834 3364
2017-04-14T00:00:00.000000000 1 24 3098 3785
2017-04-15T00:00:00.000000000 0 13 3234 3942
2017-04-16T00:00:00.000000000 1 16 3025 3830
2017-04-17T00:00:00.000000000 0 13 2995 3798
2017-04-18T00:00:00.000000000 2 12 2843 3662
2017-04-19T00:00:00.000000000 52 90 1708 3060
2017-04-20T00:00:00.000000000 14 65 984 2778
2017-04-21T00:00:00.000000000 9 85 1002 4160
2017-04-22T00:00:00.000000000 10 89 509 3437
2017-04-23T00:00:00.000000000 13 127 511 3783
2017-04-24T00:00:00.000000000 0 55 542 4328
2017-04-25T00:00:00.000000000 0 44 620 4851
2017-04-26T00:00:00.000000000 0 32 416 3642
2017-04-27T00:00:00.000000000 0 18 452 4172
2017-04-28T00:00:00.000000000 0 35 460 4770
2017-04-29T00:00:00.000000000 0 14 438 4807
2017-04-30T00:00:00.000000000 0 1 465 5883

In [25]:
last_user2=repayment_419_djb[(repayment_419_djb.deadline>='2017-04-1')&(repayment_419_djb.deadline<'2017-5-1')]
for i in sorted(last_user2.deadline.unique()):
#print(last_user2.shape)
#last_user2.groupby(['required_repayment']).count()['user_id']
#last_user2.deadline.min(),last_user2.deadline.max()

    print(i,last_user2[last_user2.deadline==i][last_user2.required_repayment.isin(t.index)][last_user2.repayment_status==3].shape[0],end=' ')
    print(last_user2[last_user2.deadline==i][last_user2.required_repayment.isin(t.index)].shape[0],end=" ")
    print(last_user2[last_user2.deadline==i][last_user2.repayment_status==3].shape[0],end=" ")
    print(last_user2[last_user2.deadline==i].shape[0])

2017-04-01T00:00:00.000000000 10 10 516 551
2017-04-02T00:00:00.000000000 0 113 2423 2880
2017-04-03T00:00:00.000000000 0 74 2372 2743
2017-04-04T00:00:00.000000000 0 58 2230 2603
2017-04-05T00:00:00.000000000 0 49 1748 2051
2017-04-06T00:00:00.000000000 0 39 2249 2625
2017-04-07T00:00:00.000000000 0 43 3103 3552
2017-04-08T00:00:00.000000000 0 47 2796 3297
2017-04-09T00:00:00.000000000 0 33 2831 3342
2017-04-10T00:00:00.000000000 0 45 3043 3582
2017-04-11T00:00:00.000000000 0 28 3672 4280
2017-04-12T00:00:00.000000000 0 16 2305 2753
2017-04-13T00:00:00.000000000 0 25 2848 3364
2017-04-14T00:00:00.000000000 1 24 3115 3785
2017-04-15T00:00:00.000000000 0 13 3265 3942
2017-04-16T00:00:00.000000000 1 16 3071 3829
2017-04-17T00:00:00.000000000 0 13 3045 3797
2017-04-18T00:00:00.000000000 2 12 2944 3661
2017-04-19T00:00:00.000000000 66 90 2360 3060
2017-04-20T00:00:00.000000000 28 65 1561 2778
2017-04-21T00:00:00.000000000 19 85 1497 4160
2017-04-22T00:00:00.000000000 13 89 730 3437
2017-04-23T00:00:00.000000000 14 127 583 3783
2017-04-24T00:00:00.000000000 0 55 631 4328
2017-04-25T00:00:00.000000000 0 44 691 4850
2017-04-26T00:00:00.000000000 0 32 467 3642
2017-04-27T00:00:00.000000000 0 18 501 4171
2017-04-28T00:00:00.000000000 0 35 493 4770
2017-04-29T00:00:00.000000000 0 14 471 4806
2017-04-30T00:00:00.000000000 0 1 508 5883

In [29]:
last_user2=repayment_421_djb[(repayment_421_djb.deadline>='2017-04-1')&(repayment_421_djb.deadline<'2017-5-1')]
for i in sorted(last_user2.deadline.unique()):
#print(last_user2.shape)
#last_user2.groupby(['required_repayment']).count()['user_id']
#last_user2.deadline.min(),last_user2.deadline.max()

    print(i,last_user2[last_user2.deadline==i][last_user2.required_repayment.isin(t.index)][last_user2.repayment_status==3].shape[0],end=' ')
    print(last_user2[last_user2.deadline==i][last_user2.required_repayment.isin(t.index)].shape[0],end=" ")
    print(last_user2[last_user2.deadline==i][(last_user2.repayment_status==3)|(last_user2.repaid_at!='2000-01-01 00:00:00')].shape[0],end=" ")
    print(last_user2[last_user2.deadline==i].shape[0])

2017-04-01T00:00:00.000000000 10 10 530 551
2017-04-02T00:00:00.000000000 0 113 2517 2880
2017-04-03T00:00:00.000000000 0 74 2470 2743
2017-04-04T00:00:00.000000000 0 58 2336 2603
2017-04-05T00:00:00.000000000 0 49 1827 2051
2017-04-06T00:00:00.000000000 0 39 2389 2625
2017-04-07T00:00:00.000000000 0 43 3263 3552
2017-04-08T00:00:00.000000000 0 47 2971 3297
2017-04-09T00:00:00.000000000 0 33 3024 3342
2017-04-10T00:00:00.000000000 0 45 3209 3582
2017-04-11T00:00:00.000000000 0 28 3946 4280
2017-04-12T00:00:00.000000000 0 16 2484 2753
2017-04-13T00:00:00.000000000 0 25 3095 3363
2017-04-14T00:00:00.000000000 1 24 3404 3785
2017-04-15T00:00:00.000000000 0 13 3582 3941
2017-04-16T00:00:00.000000000 1 16 3358 3828
2017-04-17T00:00:00.000000000 0 13 3397 3796
2017-04-18T00:00:00.000000000 2 12 3281 3660
2017-04-19T00:00:00.000000000 67 90 2692 3060
2017-04-20T00:00:00.000000000 38 65 2477 2778
2017-04-21T00:00:00.000000000 51 85 3682 4160
2017-04-22T00:00:00.000000000 43 89 2320 3436
2017-04-23T00:00:00.000000000 30 127 2035 3783
2017-04-24T00:00:00.000000000 0 55 1926 4328
2017-04-25T00:00:00.000000000 0 44 1897 4850
2017-04-26T00:00:00.000000000 0 32 1364 3640
2017-04-27T00:00:00.000000000 0 18 1516 4170
2017-04-28T00:00:00.000000000 0 35 1598 4769
2017-04-29T00:00:00.000000000 0 14 1541 4806
2017-04-30T00:00:00.000000000 0 1 1800 5882

In [118]:
dates = []
t_huan = []
t_jie = []
zong_huan = []
zong_jie = []
last_user2=repayment_424_djb[(repayment_424_djb.deadline>='2017-04-1')&(repayment_424_djb.deadline<'2017-5-1')]
for i in sorted(last_user2.deadline.unique()):
#print(last_user2.shape)
#last_user2.groupby(['required_repayment']).count()['user_id']
#last_user2.deadline.min(),last_user2.deadline.max()

    print(str(i).split('T')[0],last_user2[last_user2.deadline==i][last_user2.required_repayment.isin(t.index)][(last_user2.repayment_status==3)|(last_user2.repaid_at!='2000-01-01 00:00:00')].shape[0],end=' ')
    print(last_user2[last_user2.deadline==i][last_user2.required_repayment.isin(t.index)].shape[0],end=" ")
    print(last_user2[last_user2.deadline==i][(last_user2.repayment_status==3)|(last_user2.repaid_at!='2000-01-01 00:00:00')].shape[0],end=" ")
    print(last_user2[last_user2.deadline==i].shape[0])
    
    dates.append(str(i).split('T')[0])
    t_huan.append(last_user2[last_user2.deadline==i][last_user2.required_repayment.isin(t.index)][(last_user2.repayment_status==3)|(last_user2.repaid_at!='2000-01-01 00:00:00')].shape[0])
    t_jie.append(last_user2[last_user2.deadline==i][last_user2.required_repayment.isin(t.index)].shape[0])
    zong_huan.append(last_user2[last_user2.deadline==i][(last_user2.repayment_status==3)|(last_user2.repaid_at!='2000-01-01 00:00:00')].shape[0])
    zong_jie.append(last_user2[last_user2.deadline==i].shape[0])
result_one = pd.DataFrame({'date':dates,'t_huan':t_huan, 't_jie':t_jie, 'zong_huan':zong_huan, 'zong_jie':zong_jie})

2017-04-01 10 10 530 551
2017-04-02 0 113 2521 2880
2017-04-03 0 74 2474 2743
2017-04-04 0 58 2340 2603
2017-04-05 0 49 1831 2051
2017-04-06 0 39 2393 2625
2017-04-07 0 43 3272 3551
2017-04-08 0 47 2980 3297
2017-04-09 0 33 3035 3342
2017-04-10 0 45 3214 3581
2017-04-11 0 28 3952 4278
2017-04-12 0 16 2493 2753
2017-04-13 0 25 3106 3363
2017-04-14 1 24 3422 3785
2017-04-15 0 13 3607 3940
2017-04-16 1 16 3380 3826
2017-04-17 0 13 3419 3795
2017-04-18 2 12 3322 3659
2017-04-19 72 90 2718 3060
2017-04-20 46 65 2501 2778
2017-04-21 59 85 3769 4160
2017-04-22 63 89 3036 3436
2017-04-23 78 127 3366 3783
2017-04-24 0 55 3772 4328
2017-04-25 0 44 3311 4848
2017-04-26 0 32 2000 3640
2017-04-27 0 18 1910 4170
2017-04-28 1 35 1800 4766
2017-04-29 1 14 1729 4806
2017-04-30 0 1 1999 5882

In [121]:
dates = []
t_huan = []
t_jie = []
zong_huan = []
zong_jie = []

last_user2=Not_first_one[(Not_first_one.deadline>='2017-04-1')&(Not_first_one.deadline<'2017-5-1')]
for i in sorted(last_user2.deadline.unique()):
#print(last_user2.shape)
#last_user2.groupby(['required_repayment']).count()['user_id']
#last_user2.deadline.min(),last_user2.deadline.max()

    print(str(i).split('T')[0],last_user2[last_user2.deadline==i][last_user2.required_repayment.isin(t.index)][(last_user2.repayment_status==3)|(last_user2.repaid_at!='2000-01-01 00:00:00')].shape[0],end=' ')
    print(last_user2[last_user2.deadline==i][last_user2.required_repayment.isin(t.index)].shape[0],end=" ")
    print(last_user2[last_user2.deadline==i][(last_user2.repayment_status==3)|(last_user2.repaid_at!='2000-01-01 00:00:00')].shape[0],end=" ")
    print(last_user2[last_user2.deadline==i].shape[0])

    dates.append(str(i).split('T')[0])
    t_huan.append(last_user2[last_user2.deadline==i][last_user2.required_repayment.isin(t.index)][(last_user2.repayment_status==3)|(last_user2.repaid_at!='2000-01-01 00:00:00')].shape[0])
    t_jie.append(last_user2[last_user2.deadline==i][last_user2.required_repayment.isin(t.index)].shape[0])
    zong_huan.append(last_user2[last_user2.deadline==i][(last_user2.repayment_status==3)|(last_user2.repaid_at!='2000-01-01 00:00:00')].shape[0])
    zong_jie.append(last_user2[last_user2.deadline==i].shape[0])
result_Not_one = pd.DataFrame({'date':dates,'t_huan_notone':t_huan, 't_jie_not':t_jie, 'zong_huan_not':zong_huan, 'zong_jie_not':zong_jie})

2017-04-01 8 8 3027 3079
2017-04-02 5 34 5262 5679
2017-04-03 4 24 4441 4796
2017-04-04 30 47 4898 5248
2017-04-05 87 111 2337 2672
2017-04-06 168 187 4613 4838
2017-04-07 133 155 5521 5902
2017-04-08 160 188 6247 6640
2017-04-09 168 192 5553 6012
2017-04-10 153 171 5440 5802
2017-04-11 124 137 5416 5729
2017-04-12 123 143 2137 2481
2017-04-13 142 163 3601 4008
2017-04-14 238 258 4629 5231
2017-04-15 223 247 4868 5539
2017-04-16 228 256 4941 5652
2017-04-17 193 207 5156 5734
2017-04-18 173 200 5259 5872
2017-04-19 326 367 3191 3726
2017-04-20 263 296 2899 3393
2017-04-21 276 321 4578 5486
2017-04-22 246 444 3215 5787
2017-04-23 107 389 1912 5575
2017-04-24 39 233 1337 5399
2017-04-25 34 204 1129 5560
2017-04-26 18 149 636 3378
2017-04-27 22 128 732 4654
2017-04-28 33 231 741 5092
2017-04-29 40 364 739 5399
2017-04-30 50 296 877 6341

In [126]:
pd.merge(result_one,result_Not_one,on='date').to_csv("duibi.csv",index=False)
pd.merge(result_one,result_Not_one,on='date')

,date,t_huan,t_jie,zong_huan,zong_jie,t_huan_notone,t_jie_not,zong_huan_not,zong_jie_not
0,2017-04-01,10,10,530,551,8,8,3027,3079
1,2017-04-02,0,113,2521,2880,5,34,5262,5679
2,2017-04-03,0,74,2474,2743,4,24,4441,4796
3,2017-04-04,0,58,2340,2603,30,47,4898,5248
4,2017-04-05,0,49,1831,2051,87,111,2337,2672
5,2017-04-06,0,39,2393,2625,168,187,4613,4838
6,2017-04-07,0,43,3272,3551,133,155,5521,5902
7,2017-04-08,0,47,2980,3297,160,188,6247,6640
8,2017-04-09,0,33,3035,3342,168,192,5553,6012
9,2017-04-10,0,45,3214,3581,153,171,5440,5802
10,2017-04-11,0,28,3952,4278,124,137,5416,5729
11,2017-04-12,0,16,2493,2753,123,143,2137,2481
12,2017-04-13,0,25,3106,3363,142,163,3601,4008
13,2017-04-14,1,24,3422,3785,238,258,4629,5231
14,2017-04-15,0,13,3607,3940,223,247,4868,5539
15,2017-04-16,1,16,3380,3826,228,256,4941,5652
16,2017-04-17,0,13,3419,3795,193,207,5156,5734
17,2017-04-18,2,12,3322,3659,173,200,5259,5872
18,2017-04-19,72,90,2718,3060,326,367,3191,3726
19,2017-04-20,46,65,2501,2778,263,296,2899,3393
20,2017-04-21,59,85,3769,4160,276,321,4578,5486
21,2017-04-22,63,89,3036,3436,246,444,3215,5787
22,2017-04-23,78,127,3366,3783,107,389,1912,5575
23,2017-04-24,0,55,3772,4328,39,233,1337,5399
24,2017-04-25,0,44,3311,4848,34,204,1129,5560
25,2017-04-26,0,32,2000,3640,18,149,636,3378
26,2017-04-27,0,18,1910,4170,22,128,732,4654
27,2017-04-28,1,35,1800,4766,33,231,741,5092
28,2017-04-29,1,14,1729,4806,40,364,739,5399
29,2017-04-30,0,1,1999,5882,50,296,877,6341

In [85]:
str(i).split('T')[0]

'2017-04-30'

In [30]:
last_user2[last_user2.deadline=='2017-04-22'][last_user2.required_repayment.isin(t.index)][(last_user2.repayment_status==3)|(last_user2.repaid_at!='2000-01-01 00:00:00')]

,user_id,loan_application_history_id,term_no,deadline,required_repayment,repayment_status,repaid_at,created_at
5495132,5645371.0,45606128.0,1.0,2017-04-22,802.29,3.0,2017-04-21 09:48:38,2017-03-21 09:58:02
5497274,8404657.0,45751476.0,1.0,2017-04-22,1604.59,3.0,2017-04-19 14:26:49,2017-03-21 11:49:45
5500376,9765385.0,45763676.0,1.0,2017-04-22,2286.88,3.0,2017-04-20 12:06:54,2017-03-21 12:52:04
5497262,10586109.0,42838263.0,1.0,2017-04-22,832.29,3.0,2017-04-20 09:28:19,2017-03-21 11:32:25
5475635,12198139.0,30410068.0,1.0,2017-04-22,802.29,3.0,2017-04-21 08:14:58,2017-03-20 16:01:03
5497787,14478095.0,21101491.0,1.0,2017-04-22,802.29,3.0,2017-04-20 06:42:34,2017-03-21 12:06:34
5499455,15684428.0,45752368.0,1.0,2017-04-22,802.29,0.0,2017-04-05 06:54:16,2017-03-21 12:34:07
5493257,15699142.0,45742186.0,1.0,2017-04-22,802.29,3.0,2017-04-21 10:58:41,2017-03-21 08:57:12
5496620,17493192.0,45749630.0,1.0,2017-04-22,802.29,3.0,2017-04-19 19:00:14,2017-03-21 11:08:43
5493215,17627352.0,44862424.0,1.0,2017-04-22,802.29,3.0,2017-04-20 19:55:03,2017-03-21 08:55:52
5499407,19096846.0,45751102.0,1.0,2017-04-22,802.29,3.0,2017-04-20 18:47:08,2017-03-21 12:33:40
5500460,19613474.0,45763838.0,1.0,2017-04-22,802.29,3.0,2017-04-18 09:20:43,2017-03-21 12:54:24
5477375,20065434.0,45594276.0,1.0,2017-04-22,2286.88,3.0,2017-04-19 12:08:54,2017-03-20 16:54:55
5500619,20184174.0,45752528.0,1.0,2017-04-22,802.29,3.0,2017-04-21 09:07:45,2017-03-21 13:00:09
5498129,20620698.0,31884498.0,1.0,2017-04-22,832.29,3.0,2017-04-20 10:27:40,2017-03-21 12:26:32
5495582,20942688.0,45749844.0,1.0,2017-04-22,2286.88,3.0,2017-04-19 06:03:50,2017-03-21 10:17:36
5499653,21971394.0,45752132.0,1.0,2017-04-22,802.29,3.0,2017-04-20 08:31:09,2017-03-21 12:36:53
5487248,22268466.0,44961002.0,1.0,2017-04-22,802.29,3.0,2017-04-21 09:56:37,2017-03-20 22:34:44
4473194,22506868.0,35717094.0,1.0,2017-04-22,802.29,3.0,2017-04-19 08:28:30,2017-02-05 17:04:46
5493311,22565858.0,45742844.0,1.0,2017-04-22,802.29,3.0,2017-04-13 04:10:24,2017-03-21 08:58:05
5493365,22778262.0,45588818.0,1.0,2017-04-22,802.29,3.0,2017-04-19 19:34:12,2017-03-21 08:59:19
5073824,23054850.0,36775836.0,1.0,2017-04-22,832.29,3.0,2017-04-04 13:50:01,2017-03-05 10:08:03
5496491,23750332.0,45742248.0,1.0,2017-04-22,2286.88,3.0,2017-04-21 04:22:07,2017-03-21 11:00:29
5499209,24112654.0,45751968.0,1.0,2017-04-22,802.29,3.0,2017-04-20 17:46:45,2017-03-21 12:32:09
5502032,24139920.0,45750516.0,1.0,2017-04-22,1604.59,3.0,2017-04-21 09:46:22,2017-03-21 14:18:05
5493398,24332678.0,39278387.0,1.0,2017-04-22,802.29,3.0,2017-04-16 06:01:21,2017-03-21 09:00:08
5475893,24377834.0,45457608.0,1.0,2017-04-22,2286.88,0.0,2017-04-21 08:09:53,2017-03-20 16:08:09
5494088,25078722.0,40958241.0,1.0,2017-04-22,802.29,3.0,2017-04-20 15:11:38,2017-03-21 09:19:29
5501834,25396798.0,41692203.0,1.0,2017-04-22,832.29,3.0,2017-04-19 09:52:05,2017-03-21 14:08:30
5493944,25930150.0,42897139.0,1.0,2017-04-22,802.29,3.0,2017-04-21 10:09:54,2017-03-21 09:15:52
5469248,26346820.0,43849178.0,1.0,2017-04-22,1604.59,3.0,2017-04-21 09:47:24,2017-03-20 13:13:17
5494439,26554858.0,44285628.0,1.0,2017-04-22,802.29,3.0,2017-03-31 14:40:53,2017-03-21 09:30:26
5487533,27112076.0,45458806.0,1.0,2017-04-22,802.29,0.0,2017-03-21 17:59:01,2017-03-20 22:44:21
5500958,27121194.0,45458056.0,1.0,2017-04-22,802.29,3.0,2017-04-14 17:49:25,2017-03-21 13:15:23
5476154,27126222.0,45469882.0,1.0,2017-04-22,802.29,3.0,2017-04-10 17:14:58,2017-03-20 16:12:13
5498381,27184462.0,45603290.0,1.0,2017-04-22,802.29,3.0,2017-04-20 10:33:24,2017-03-21 12:28:31
5499746,27186718.0,45616772.0,1.0,2017-04-22,2286.88,3.0,2017-04-12 09:31:36,2017-03-21 12:38:23
5479082,27190540.0,45616870.0,1.0,2017-04-22,802.29,3.0,2017-04-20 09:46:49,2017-03-20 17:55:17
5495255,27245000.0,45741844.0,1.0,2017-04-22,2286.88,3.0,2017-04-20 14:14:24,2017-03-21 10:04:37
5493683,27245136.0,45742232.0,1.0,2017-04-22,802.29,3.0,2017-04-21 09:49:49,2017-03-21 09:08:25
5493998,27245380.0,45742880.0,1.0,2017-04-22,802.29,3.0,2017-04-10 12:21:06,2017-03-21 09:16:36
5494061,27245402.0,45742952.0,1.0,2017-04-22,802.29,3.0,2017-04-21 07:28:45,2017-03-21 09:18:52
5494280,27247644.0,45748264.0,1.0,2017-04-22,802.29,0.0,2017-04-19 16:16:58,2017-03-21 09:25:17
5498340,27247858.0,45748734.0,1.0,2017-04-22,802.29,3.0,2017-04-21 09:51:37,2017-03-21 12:28:18
5494091,27247956.0,45749124.0,1.0,2017-04-22,802.29,3.0,2017-04-10 15:52:09,2017-03-21 09:19:40
5501105,27250610.0,45755556.0,1.0,2017-04-22,802.29,0.0,2017-03-30 12:54:13,2017-03-21 13:22:35
5500931,27253694.0,45763112.0,1.0,2017-04-22,802.29,3.0,2017-04-19 19:30:37,2017-03-21 13:13:40
5500676,27254112.0,45763994.0,1.0,2017-04-22,802.29,0.0,2017-03-23 15:23:28,2017-03-21 13:02:42
5503220,27258614.0,45773472.0,1.0,2017-04-22,1604.59,3.0,2017-04-21 09:36:51,2017-03-21 14:31:05

In [155]:
last_user2[last_user2.required_repayment.isin(t.index)][last_user2.repayment_status==3].shape

(9, 11)

In [156]:
last_user2[last_user2.required_repayment.isin(t.index)].shape

(85, 11)

In [96]:
last_user2[last_user2.required_repayment.isin(t.index)][last_user2.repayment_status==3]

,user_id,loan_application_history_id,term_no,deadline,required_repayment,repayment_status,repaid_at,created_at,contract_loan_amount,service_fee_per_termhly,monthly_interest_rate
5429513,413279.0,39808765.0,1.0,2017-04-20,2286.88,3.0,2017-04-17 10:02:33,2017-03-18 19:21:20,6000.0,240.0,0.011675
5511593,980821.0,45757940.0,1.0,2017-04-23,802.29,3.0,2017-04-13 09:18:07,2017-03-21 18:35:59,2000.0,120.0,0.011675
5523950,4190925.0,45914626.0,1.0,2017-04-23,802.29,3.0,2017-04-05 01:54:03,2017-03-22 09:06:36,2000.0,120.0,0.011675
5420108,4875753.0,45339652.0,1.0,2017-04-19,802.29,3.0,2017-03-31 07:43:33,2017-03-18 13:29:05,2000.0,120.0,0.011675
5466233,6685157.0,45594734.0,1.0,2017-04-21,1604.59,3.0,2017-04-07 01:09:51,2017-03-20 11:35:20,4000.0,240.0,0.011675
5420144,7002555.0,45339494.0,1.0,2017-04-19,802.29,3.0,2017-04-18 09:37:26,2017-03-18 13:31:11,2000.0,120.0,0.011675
5436287,7020045.0,16386711.0,1.0,2017-04-20,802.29,3.0,2017-03-27 11:30:25,2017-03-19 08:35:01,2000.0,120.0,0.011675
5248004,7216151.0,9422097.0,1.0,2017-04-19,1905.73,3.0,2017-04-17 15:18:43,2017-03-12 02:59:27,5000.0,200.0,0.011675
5444492,8216021.0,11112071.0,1.0,2017-04-20,1604.59,3.0,2017-04-16 11:32:26,2017-03-19 15:24:53,4000.0,240.0,0.011675
5416277,8595051.0,11797265.0,1.0,2017-04-19,802.29,3.0,2017-04-18 06:08:00,2017-03-18 11:40:12,2000.0,120.0,0.011675
5472932,10638951.0,45593668.0,1.0,2017-04-21,1604.59,3.0,2017-04-01 09:00:28,2017-03-20 15:10:42,4000.0,240.0,0.011675
5386724,10741683.0,45187016.0,1.0,2017-04-18,2225.17,3.0,2017-04-17 17:05:57,2017-03-17 12:22:41,6000.0,180.0,0.011250
5025113,12177101.0,40742807.0,1.0,2017-04-19,1604.59,3.0,2017-04-17 11:02:43,2017-03-03 00:48:51,4000.0,240.0,0.011675
5526080,12539365.0,45458714.0,1.0,2017-04-23,1604.59,3.0,2017-04-13 15:26:50,2017-03-22 10:55:44,4000.0,240.0,0.011675
5394506,13147249.0,18847289.0,1.0,2017-04-19,832.29,3.0,2017-04-17 10:31:49,2017-03-17 15:30:35,2000.0,150.0,0.011675
5439563,13252013.0,45454886.0,1.0,2017-04-20,2286.88,3.0,2017-04-17 09:52:07,2017-03-19 10:41:19,6000.0,240.0,0.011675
5443184,13630503.0,28359218.0,1.0,2017-04-20,802.29,3.0,2017-04-17 11:09:55,2017-03-19 13:30:54,2000.0,120.0,0.011675
5526437,14159867.0,45611574.0,1.0,2017-04-23,802.29,3.0,2017-03-24 10:25:08,2017-03-22 11:13:36,2000.0,120.0,0.011675
5412314,15129494.0,34686658.0,1.0,2017-04-19,832.29,3.0,2017-04-17 09:47:00,2017-03-18 09:16:28,2000.0,150.0,0.011675
5439011,15989516.0,45454910.0,1.0,2017-04-20,802.29,3.0,2017-04-17 17:16:44,2017-03-19 10:13:18,2000.0,120.0,0.011675
5303756,16624080.0,41146937.0,1.0,2017-04-19,832.29,3.0,2017-04-17 08:35:20,2017-03-14 08:50:24,2000.0,150.0,0.011675
5367872,16732892.0,41706545.0,1.0,2017-04-19,832.29,3.0,2017-04-17 18:58:36,2017-03-16 13:05:38,2000.0,150.0,0.011675
5523770,17202656.0,43159675.0,1.0,2017-04-23,802.29,3.0,2017-04-09 19:58:26,2017-03-22 09:02:13,2000.0,120.0,0.011675
5260835,17486382.0,41048819.0,1.0,2017-04-19,832.29,3.0,2017-03-19 17:35:26,2017-03-12 16:45:12,2000.0,150.0,0.011675
5441006,17601262.0,37953127.0,1.0,2017-04-20,832.29,3.0,2017-03-20 00:08:29,2017-03-19 12:24:50,2000.0,150.0,0.011675
5420096,18856818.0,45339376.0,1.0,2017-04-19,802.29,3.0,2017-04-18 09:25:26,2017-03-18 13:28:07,2000.0,120.0,0.011675
5409638,18915206.0,42331021.0,1.0,2017-04-19,832.29,3.0,2017-04-18 09:37:08,2017-03-17 22:38:51,2000.0,150.0,0.011675
5500460,19613474.0,45763838.0,1.0,2017-04-22,802.29,3.0,2017-04-18 09:20:43,2017-03-21 12:54:24,2000.0,120.0,0.011675
5356061,19908068.0,40418663.0,1.0,2017-04-19,832.29,3.0,2017-04-15 09:57:34,2017-03-16 02:50:18,2000.0,150.0,0.011675
5466431,20440380.0,45595872.0,1.0,2017-04-21,802.29,3.0,2017-04-17 17:33:38,2017-03-20 11:42:16,2000.0,120.0,0.011675
...,...,...,...,...,...,...,...,...,...,...,...
5399051,25299178.0,42206173.0,1.0,2017-04-19,832.29,3.0,2017-04-17 12:07:07,2017-03-17 16:35:24,2000.0,150.0,0.011675
5447924,25419518.0,45457692.0,1.0,2017-04-21,802.29,3.0,2017-04-18 11:25:50,2017-03-19 17:23:28,2000.0,120.0,0.011675
5264321,25640784.0,42255745.0,1.0,2017-04-19,832.29,3.0,2017-04-18 08:06:29,2017-03-12 18:08:58,2000.0,150.0,0.011675
5391344,25681344.0,42350811.0,1.0,2017-04-19,832.29,3.0,2017-04-17 18:10:26,2017-03-17 14:50:02,2000.0,150.0,0.011675
5351507,25750536.0,42513361.0,1.0,2017-04-19,832.29,3.0,2017-04-17 09:46:44,2017-03-15 20:20:16,2000.0,150.0,0.011675
5379446,25801384.0,42622319.0,1.0,2017-04-19,832.29,3.0,2017-04-18 11:16:18,2017-03-16 22:22:19,2000.0,150.0,0.011675
5290076,25885870.0,42802125.0,1.0,2017-04-19,832.29,3.0,2017-04-15 14:49:09,2017-03-13 16:47:19,2000.0,150.0,0.011675
5241212,25891010.0,42814137.0,1.0,2017-04-19,832.29,3.0,2017-04-11 08:21:06,2017-03-11 17:30:46,2000.0,150.0,0.011675
5305778,25891240.0,42814711.0,1.0,2017-04-19,832.29,3.0,2017-04-17 14:07:35,2017-03-14 10:25:23,2000.0,150.0,0.011675
5387732,25900388.0,42835761.0,1.0,2017-04-19,832.29,3.0,2017-04-18 10:30:09,2017-03-17 13:20:29,2000.0,150.0,0.011675
5439641,26130490.0,45454882.0,1.0,2017-04-20,802.29,3.0,2017-04-18 09:43:32,2017-03-19 10:45:23,2000.0,120.0,0.011675
5527163,26302324.0,43744194.0,1.0,2017-04-23,802.29,3.0,2017-04-18 00:15:10,2017-03-22 11:57:05,2000.0,120.0,0.011675
5494439,26554858.0,44285628.0,1.0,2017-04-22,802.29,3.0,2017-03-31 14:40:53,2017-03-21 09:30:26,2000.0,120.0,0.011675
5400224,26617866.0,44405350.0,1.0,2017-04-19,2225.17,3.0,2017-04-16 09:46:26,2017-03-17 17:21:34,6000.0,180.0,0.011250
5394785,26722816.0,44602294.0,1.0,2017-04-18,2180.00,3.0,2017-04-16 07:55:46,2017-03-17 15:33:20,6000.0,180.0,0.000833
5420657,27062456.0,45333810.0,1.0,2017-04-19,802.29,3.0,2017-03-23 15:11:30,2017-03-18 14:12:59,2000.0,120.0,0.011675
5420018,27064628.0,45338954.0,1.0,2017-04-19,802.29,3.0,2017-04-13 09:39:43,2017-03-18 13:24:46,2000.0,120.0,0.011675
5435054,27065250.0,45339618.0,1.0,2017-04-20,1604.59,3.0,2017-04-17 17:34:54,2017-03-19 00:57:37,4000.0,240.0,0.011675
5438996,27120616.0,45456710.0,1.0,2017-04-20,802.29,3.0,2017-04-17 12:42:46,2017-03-19 10:12:55,2000.0,120.0,0.011675
5443193,27120840.0,45457196.0,1.0,2017-04-20,1604.59,3.0,2017-04-18 10:36:26,2017-03-19 13:31:30,4000.0,240.0,0.011675
5500958,27121194.0,45458056.0,1.0,2017-04-22,802.29,3.0,2017-04-14 17:49:25,2017-03-21 13:15:23,2000.0,120.0,0.011675
5476154,27126222.0,45469882.0,1.0,2017-04-22,802.29,3.0,2017-04-10 17:14:58,2017-03-20 16:12:13,2000.0,120.0,0.011675
5468504,27182284.0,45596750.0,1.0,2017-04-21,802.29,3.0,2017-04-17 12:44:13,2017-03-20 12:29:33,2000.0,120.0,0.011675
5469521,27184184.0,45601538.0,1.0,2017-04-21,802.29,3.0,2017-03-23 18:07:18,2017-03-20 13:32:56,2000.0,120.0,0.011675
5499746,27186718.0,45616772.0,1.0,2017-04-22,2286.88,3.0,2017-04-12 09:31:36,2017-03-21 12:38:23,6000.0,240.0,0.011675
5473736,27190698.0,45617360.0,1.0,2017-04-21,802.29,3.0,2017-03-22 12:05:59,2017-03-20 15:37:59,2000.0,120.0,0.011675
5474021,27190942.0,45617790.0,1.0,2017-04-21,2286.88,3.0,2017-04-15 15:46:36,2017-03-20 15:39:19,6000.0,240.0,0.011675
5493998,27245380.0,45742880.0,1.0,2017-04-22,802.29,3.0,2017-04-10 12:21:06,2017-03-21 09:16:36,2000.0,120.0,0.011675
5494091,27247956.0,45749124.0,1.0,2017-04-22,802.29,3.0,2017-04-10 15:52:09,2017-03-21 09:19:40,2000.0,120.0,0.011675
5503481,27258680.0,45773566.0,1.0,2017-04-23,802.29,3.0,2017-04-08 14:53:00,2017-03-21 14:40:06,2000.0,120.0,0.011675

In [111]:
last_user.shape, last_user[last_user.repayment_status==3].shape

((53333, 11), (10950, 11))

In [91]:
first_one.head()

,user_id,loan_application_history_id,term_no,deadline,required_repayment,repayment_status,repaid_at,created_at,delq,label,label15
3949277,10.0,34691058.0,1.0,2017-02-08,802.29,3.0,2017-02-07 10:09:26,2017-01-06 19:47:26,-1,0,0
1810030,59.0,20125581.0,1.0,2016-09-18,803.40,3.0,2016-09-17 17:08:21,2016-08-17 14:57:24,-1,0,0
3346976,64.0,19671187.0,1.0,2017-01-06,830.04,0.0,2000-01-01 00:00:00,2016-12-05 06:38:29,-6215,1,1
2650706,86.0,86.0,1.0,2016-11-25,830.04,3.0,2016-11-24 02:50:42,2016-10-21 15:50:40,-1,0,0
1701415,107.0,107.0,1.0,2016-09-11,1600.09,3.0,2016-09-06 19:21:11,2016-08-08 17:04:46,-5,0,0

In [108]:
Not_first_one = repayment_421[(~repayment_421.index.isin(first_one.index))][(repayment_421.term_no==1)]

In [100]:
#对比非首单

Not_first_one = Not_first_one.dropna(how="any")
Not_first_one = Not_first_one[Not_first_one.created_at>"2016-07-01"]
Not_first_one['deadline'] = pd.to_datetime(Not_first_one['deadline'])
Not_first_one['repaid_at'] = pd.to_datetime(Not_first_one['repaid_at'])
Not_first_one['delq'] = (Not_first_one.repaid_at - Not_first_one.deadline).apply(lambda x:np.nan if type(x) ==pd.tslib.NaTType else x.days)

# 3天逾期
day = 3
day2 =15
index1 = Not_first_one[Not_first_one.repaid_at=='2000-01-01 00:00:00'].index
index2 = Not_first_one[Not_first_one.delq >=day].index
Not_first_one['label'] = 0
Not_first_one.loc[list(index1)+list(index2),'label']=1

index3 = Not_first_one[Not_first_one.delq >=day2].index
Not_first_one['label15'] = 0
Not_first_one.loc[list(index1)+list(index3),'label15']=1
Not_first_one_day = Not_first_one[Not_first_one.deadline<= pd.to_datetime("2017-04-17")- datetime.timedelta(days=day)]

Not_first_one_day['month'] = Not_first_one_day.deadline.apply(lambda x:x.month)
Not_first_one_day['year'] = Not_first_one_day.deadline.apply(lambda x:x.year)

#first_one_day['month'] = first_one_day.created_at.apply(lambda x:x.month)
#first_one_day['year'] = first_one_day.created_at.apply(lambda x:x.year)

In [104]:
hh = Not_first_one_day.groupby(['year','month']).mean()[['label','label15']]
number = Not_first_one_day.groupby(['year','month']).count()['label']
number=pd.DataFrame(number)
number.columns=['COUNT3']
hh = pd.merge(hh,number,how='inner',left_index=True, right_index=True)
hh.label = np.round(hh.label,3)
hh.label15 = np.round(hh.label15,3)

print(hh)

why = Not_first_one_day[Not_first_one_day.month==4].groupby(['required_repayment'])['label'].agg(['count','mean']).sort_index()#sort_values(by=['count'],ascending=False)

#why.to_csv("why_201703.csv")
#why[why['mean']==1].to_csv("why_201703_.csv")
print('****')
print(why[why['mean']>0.3])

why = Not_first_one_day[Not_first_one_day.month==4].groupby(['required_repayment'])['label15'].agg(['count','mean']).sort_index()#sort_values(by=['count'],ascending=False)
why[why['mean']>0.3]

            label  label15  COUNT3
year month
2016 7      1.000    1.000       1
     8      0.220    0.166   51500
     9      0.192    0.133   57551
     10     0.145    0.090   68518
     11     0.140    0.086   72299
     12     0.166    0.113   86512
2017 1      0.178    0.131  118335
     2      0.176    0.131  125197
     3      0.125    0.079  120989
     4      0.119    0.079   68118
****
                    count      mean
required_repayment
720.04                  3  0.333333
741.19                 13  0.846154
742.29                  6  1.000000
801.19                 37  0.891892
802.29                 30  1.000000
803.40                  6  1.000000
831.19                  7  0.857143
832.29                  8  0.875000
833.40                  1  1.000000
1482.37                38  0.868421
1484.59                26  1.000000
1486.80                 5  1.000000
1602.37                15  1.000000
1604.59                27  1.000000
1606.80                10  1.000000
1852.96                19  0.736842
1855.73                27  1.000000
1902.96                12  0.916667
1905.73                17  1.000000
2223.56                27  1.000000
2226.88                 9  1.000000
2230.21                 9  1.000000
2283.56                10  1.000000
2286.88                 1  1.000000
2290.21                 4  1.000000

                    count      mean
required_repayment
720.04                  3  0.333333
741.19                 13  0.846154
742.29                  6  1.000000
801.19                 37  0.864865
802.29                 30  1.000000
803.40                  6  1.000000
831.19                  7  0.857143
832.29                  8  0.875000
833.40                  1  1.000000
1482.37                38  0.868421
1484.59                26  1.000000
1486.80                 5  1.000000
1602.37                15  1.000000
1604.59                27  1.000000
1606.80                10  1.000000
1852.96                19  0.736842
1855.73                27  1.000000
1902.96                12  0.916667
1905.73                17  1.000000
2223.56                27  1.000000
2226.88                 9  1.000000
2230.21                 9  1.000000
2283.56                10  1.000000
2286.88                 1  1.000000
2290.21                 4  1.000000

In [103]:
first_one = repayment[repayment.term_no==1].loc[repayment.groupby(['user_id'])['created_at'].idxmin()]

In [105]:
first_one.head()

,user_id,loan_application_history_id,term_no,deadline,required_repayment,repayment_status,repaid_at,created_at
3949277,10.0,34691058.0,1.0,2017-02-08,802.29,3.0,2017-02-07 10:09:26,2017-01-06 19:47:26
35680,14.0,525003.0,1.0,2015-10-27,408.00,3.0,2015-10-24 17:15:26,2015-10-29 18:11:12
554591,15.0,8824953.0,1.0,2016-04-29,800.04,3.0,2016-04-26 11:02:53,2016-03-28 13:21:29
43404,20.0,530337.0,1.0,2015-08-29,408.00,2.0,2016-02-19 21:05:15,2015-10-29 18:27:03
27,34.0,34.0,1.0,2015-09-19,408.00,3.0,2015-09-09 23:05:44,2015-08-19 18:11:31

In [38]:
#print(first_one.isnull().sum())
first_one = first_one.dropna(how="any")

In [39]:
first_one = first_one[first_one.created_at>"2016-07-01"]
first_one.shape

(675875, 8)

In [40]:
first_one['deadline'] = pd.to_datetime(first_one['deadline'])
first_one['repaid_at'] = pd.to_datetime(first_one['repaid_at'])
first_one['delq'] = (first_one.repaid_at - first_one.deadline).apply(lambda x:np.nan if type(x) ==pd.tslib.NaTType else x.days)

In [41]:
# 3天逾期
day = 3
day2 =15
index1 = first_one[first_one.repaid_at=='2000-01-01 00:00:00'].index
index2 = first_one[first_one.delq >=day].index
first_one['label'] = 0
first_one.loc[list(index1)+list(index2),'label']=1

index3 = first_one[first_one.delq >=day2].index
first_one['label15'] = 0
first_one.loc[list(index1)+list(index3),'label15']=1
first_one_day = first_one[first_one.deadline<= pd.to_datetime("2017-04-17")- datetime.timedelta(days=day)]

In [42]:
first_one_day.head()

,user_id,loan_application_history_id,term_no,deadline,required_repayment,repayment_status,repaid_at,created_at,delq,label,label15
3949277,10.0,34691058.0,1.0,2017-02-08,802.29,3.0,2017-02-07 10:09:26,2017-01-06 19:47:26,-1,0,0
1810030,59.0,20125581.0,1.0,2016-09-18,803.40,3.0,2016-09-17 17:08:21,2016-08-17 14:57:24,-1,0,0
3346976,64.0,19671187.0,1.0,2017-01-06,830.04,0.0,2000-01-01 00:00:00,2016-12-05 06:38:29,-6215,1,1
2650706,86.0,86.0,1.0,2016-11-25,830.04,3.0,2016-11-24 02:50:42,2016-10-21 15:50:40,-1,0,0
1701415,107.0,107.0,1.0,2016-09-11,1600.09,3.0,2016-09-06 19:21:11,2016-08-08 17:04:46,-5,0,0

In [43]:
#整体逾期率
print(first_one_day.label.mean())

print(first_one_day[first_one_day.label==1].required_repayment.sum()/first_one_day.required_repayment.sum())
print(first_one_day.label15.mean())
print(first_one_day[first_one_day.label15==1].required_repayment.sum()/first_one_day.required_repayment.sum())

0.17902335456475585
0.17413696883793453
0.1292550129747582
0.12705490342849

In [50]:
first_one_day['month'] = first_one_day.deadline.apply(lambda x:x.month)
first_one_day['year'] = first_one_day.deadline.apply(lambda x:x.year)

#first_one_day['month'] = first_one_day.created_at.apply(lambda x:x.month)
#first_one_day['year'] = first_one_day.created_at.apply(lambda x:x.year)

In [51]:
first_one.shape

(675875, 11)

In [52]:

hh = first_one_day.groupby(['year','month']).mean()[['label','label15']]
number = first_one_day.groupby(['year','month']).count()['label']
number=pd.DataFrame(number)
number.columns=['COUNT3']
hh = pd.merge(hh,number,how='inner',left_index=True, right_index=True)
hh.label = np.round(hh.label,3)
hh.label15 = np.round(hh.label15,3)
hh.to_csv('del.csv')
hh

            label  label15  COUNT3
year month
2016 8      0.203    0.157   45154
     9      0.215    0.162   53304
     10     0.172    0.122   63221
     11     0.160    0.111   58572
     12     0.177    0.123   71553
2017 1      0.187    0.140   70379
     2      0.187    0.141   59871
     3      0.166    0.111   66409
     4      0.142    0.100   41412

In [53]:
np.corrcoef(hh.label.values[:-1],hh.label15.values[:-1])

array([[ 1.        ,  0.98366878],
       [ 0.98366878,  1.        ]])

In [54]:
first_one_day.deadline.max()

Timestamp('2017-04-14 00:00:00')

In [55]:
hh

            label  label15  COUNT3
year month
2016 8      0.203    0.157   45154
     9      0.215    0.162   53304
     10     0.172    0.122   63221
     11     0.160    0.111   58572
     12     0.177    0.123   71553
2017 1      0.187    0.140   70379
     2      0.187    0.141   59871
     3      0.166    0.111   66409
     4      0.142    0.100   41412

In [56]:
why = first_one_day[first_one_day.month==4].groupby(['required_repayment'])['label'].agg(['count','mean']).sort_index()#sort_values(by=['count'],ascending=False)

why.to_csv("why_201703.csv")
why[why['mean']==1].to_csv("why_201703_.csv")
why[why['mean']==1]

why = first_one_day[first_one_day.month==4].groupby(['required_repayment'])['label15'].agg(['count','mean']).sort_index()#sort_values(by=['count'],ascending=False)
why[why['mean']>0.3]

                    count      mean
required_repayment
801.19                 46  1.000000
802.29                 13  1.000000
803.40                 11  1.000000
831.19                145  0.944828
832.29                206  1.000000
833.40                 19  1.000000
1602.37                53  0.981132
1604.59                39  1.000000
1606.80                 6  1.000000
1902.96                 9  0.888889
1905.73                19  1.000000
2180.00                 2  0.500000
2225.17                 1  1.000000
2283.56                20  1.000000
2286.88                 4  1.000000
2290.21                12  1.000000

In [21]:
t.index

Float64Index([ 801.19,  802.29,   803.4,  831.19,  832.29,   833.4, 1602.37,
              1604.59,  1606.8, 1902.96, 1905.73,  2180.0, 2225.17, 2283.56,
              2286.88, 2290.21],
             dtype='float64', name='required_repayment')

In [57]:
t = why[why['mean']>0.3]
for i in t.index:
    
    sub = first_one_day[(first_one_day.month==4)&(first_one_day.required_repayment==i)]
    print(i,sub.contract_loan_amount.unique(),sub.service_fee_per_termhly.unique(),sub.monthly_interest_rate.unique())

AttributeError: 'DataFrame' object has no attribute 'contract_loan_amount'

In [83]:
for i in sorted(first_one_day[(first_one_day.month==4)].required_repayment.unique()):
    
    sub = first_one_day[(first_one_day.month==4)&(first_one_day.required_repayment==i)]
    print(i,sub.contract_loan_amount.unique(),sub.service_fee_per_termhly.unique(),sub.monthly_interest_rate.unique())

710.31 [ 2000.] [ 30.] [ 0.0102]
726.67 [ 2000.] [ 60.] [ 0.000833]
740.04 [ 2000.] [ 60.] [ 0.01]
786.67 [ 2000.] [ 120.] [ 0.000833]
800.04 [ 2000.] [ 120.] [ 0.01]
800.31 [ 2000.] [ 120.] [ 0.0102]
801.19 [ 2000.] [ 120.] [ 0.01085]
801.72 [ 2000.] [ 120.] [ 0.01125]
802.29 [ 2000.] [ 120.] [ 0.011675]
803.4 [ 2000.] [ 120.] [ 0.0125]
816.67 [ 2000.] [ 150.] [ 0.000833]
830.04 [ 2000.] [ 150.] [ 0.01]
830.31 [ 2000.] [ 150.] [ 0.0102]
831.19 [ 2000.] [ 150.] [ 0.01085]
831.72 [ 2000.] [ 150.] [ 0.01125]
832.29 [ 2000.] [ 150.] [ 0.011675]
833.4 [ 2000.] [ 150.] [ 0.0125]
1159.74 [ 6000.] [ 120.] [ 0.01125]
1180.0 [ 6000.] [ 180.] [ 0.000833]
1215.29 [ 6000.] [ 180.] [ 0.01]
1219.74 [ 6000.] [ 180.] [ 0.01125]
1420.63 [ 4000.] [ 60.] [ 0.0102]
1453.33 [ 4000.] [ 120.] [ 0.000833]
1480.09 [ 4000.] [ 120.] [ 0.01]
1573.33 [ 4000.] [ 240.] [ 0.000833]
1600.09 [ 4000.] [ 240.] [ 0.01]
1600.63 [ 4000.] [ 240.] [ 0.0102]
1602.37 [ 4000.] [ 240.] [ 0.01085]
1603.45 [ 4000.] [ 240.] [ 0.01125]
1604.59 [ 4000.] [ 240.] [ 0.011675]
1606.8 [ 4000.] [ 240.] [ 0.0125]
1850.11 [ 5000.] [ 150.] [ 0.01]
1900.11 [ 5000.] [ 200.] [ 0.01]
1902.96 [ 5000.] [ 200.] [ 0.01085]
1904.31 [ 5000.] [ 200.] [ 0.01125]
1905.73 [ 5000.] [ 200.] [ 0.011675]
2180.0 [ 6000.] [ 180.] [ 0.000833]
2220.13 [ 6000.] [ 180.] [ 0.01]
2225.17 [ 6000.] [ 180.] [ 0.01125]
2240.0 [ 6000.] [ 240.] [ 0.000833]
2280.13 [ 6000.] [ 240.] [ 0.01]
2280.94 [ 6000.] [ 240.] [ 0.0102]
2283.56 [ 6000.] [ 240.] [ 0.01085]
2285.17 [ 6000.] [ 240.] [ 0.01125]
2286.88 [ 6000.] [ 240.] [ 0.011675]
2290.21 [ 6000.] [ 240.] [ 0.0125]

In [220]:
first_one_day[(first_one_day.month==3)&(first_one_day.required_repayment==832.29)]

,user_id,term_no,deadline,required_repayment,repayment_status,repaid_at,created_at,delq,label,label15,dksj,month,year
4977200,1594947.0,1.0,2017-04-02,832.29,0.0,2000-01-01,2017-03-01 08:13:31,-6301,1,1,31,3,2017
5148173,3934707.0,1.0,2017-04-09,832.29,0.0,2000-01-01,2017-03-08 09:49:29,-6308,1,1,31,3,2017
5081888,4364363.0,1.0,2017-04-06,832.29,0.0,2000-01-01,2017-03-05 16:04:33,-6305,1,1,31,3,2017
5044442,4698291.0,1.0,2017-04-04,832.29,0.0,2000-01-01,2017-03-03 18:35:20,-6303,1,1,31,3,2017
5084633,5372529.0,1.0,2017-04-06,832.29,0.0,2000-01-01,2017-03-05 18:41:38,-6305,1,1,31,3,2017
5025851,5384665.0,1.0,2017-04-04,832.29,0.0,2000-01-01,2017-03-03 08:04:51,-6303,1,1,31,3,2017
5065634,8065847.0,1.0,2017-04-05,832.29,0.0,2000-01-01,2017-03-04 21:33:29,-6304,1,1,31,3,2017
4975739,8169675.0,1.0,2017-04-02,832.29,0.0,2000-01-01,2017-03-01 00:24:04,-6301,1,1,31,3,2017
4990769,10624543.0,1.0,2017-04-02,832.29,0.0,2000-01-01,2017-03-01 15:41:00,-6301,1,1,31,3,2017
5017082,10711815.0,1.0,2017-04-03,832.29,0.0,2000-01-01,2017-03-02 16:54:00,-6302,1,1,31,3,2017
5192726,11347157.0,1.0,2017-04-10,832.29,0.0,2000-01-01,2017-03-09 20:27:25,-6309,1,1,31,3,2017
5028224,11544361.0,1.0,2017-04-04,832.29,0.0,2000-01-01,2017-03-03 09:41:34,-6303,1,1,31,3,2017
5094068,12724699.0,1.0,2017-04-07,832.29,0.0,2000-01-01,2017-03-06 09:41:26,-6306,1,1,31,3,2017
5085035,12903033.0,1.0,2017-04-06,832.29,0.0,2000-01-01,2017-03-05 19:08:24,-6305,1,1,31,3,2017
5024369,12922181.0,1.0,2017-04-03,832.29,0.0,2000-01-01,2017-03-02 22:30:15,-6302,1,1,31,3,2017
5001599,13638349.0,1.0,2017-04-02,832.29,0.0,2000-01-01,2017-03-01 21:26:17,-6301,1,1,31,3,2017
5108954,14020475.0,1.0,2017-04-07,832.29,0.0,2000-01-01,2017-03-06 16:39:35,-6306,1,1,31,3,2017
5003219,14099475.0,1.0,2017-04-03,832.29,0.0,2000-01-01,2017-03-02 02:32:58,-6302,1,1,31,3,2017
5017523,14608586.0,1.0,2017-04-03,832.29,0.0,2000-01-01,2017-03-02 17:22:56,-6302,1,1,31,3,2017
5110031,14774310.0,1.0,2017-04-07,832.29,0.0,2000-01-01,2017-03-06 17:53:10,-6306,1,1,31,3,2017
5135666,14794550.0,1.0,2017-04-08,832.29,0.0,2000-01-01,2017-03-07 15:47:22,-6307,1,1,31,3,2017
5051603,14857028.0,1.0,2017-04-05,832.29,0.0,2000-01-01,2017-03-04 11:17:50,-6304,1,1,31,3,2017
5088923,16696058.0,1.0,2017-04-07,832.29,0.0,2000-01-01,2017-03-06 02:41:13,-6306,1,1,31,3,2017
4985624,16954356.0,1.0,2017-04-02,832.29,0.0,2000-01-01,2017-03-01 12:11:08,-6301,1,1,31,3,2017
5108519,17039132.0,1.0,2017-04-07,832.29,0.0,2000-01-01,2017-03-06 16:17:33,-6306,1,1,31,3,2017
5101790,17948846.0,1.0,2017-04-07,832.29,0.0,2000-01-01,2017-03-06 13:42:25,-6306,1,1,31,3,2017
5014523,17980476.0,1.0,2017-04-03,832.29,0.0,2000-01-01,2017-03-02 15:17:33,-6302,1,1,31,3,2017
5138714,18281850.0,1.0,2017-04-08,832.29,0.0,2000-01-01,2017-03-07 17:35:47,-6307,1,1,31,3,2017
4987571,18914700.0,1.0,2017-04-02,832.29,0.0,2000-01-01,2017-03-01 13:01:59,-6301,1,1,31,3,2017
4995140,19125352.0,1.0,2017-04-02,832.29,0.0,2000-01-01,2017-03-01 17:26:53,-6301,1,1,31,3,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5106710,25920660.0,1.0,2017-04-07,832.29,0.0,2000-01-01,2017-03-06 15:35:38,-6306,1,1,31,3,2017
5056037,25920908.0,1.0,2017-04-05,832.29,0.0,2000-01-01,2017-03-04 13:47:36,-6304,1,1,31,3,2017
5010971,25923556.0,1.0,2017-04-03,832.29,0.0,2000-01-01,2017-03-02 12:53:22,-6302,1,1,31,3,2017
4976291,25924338.0,1.0,2017-04-02,832.29,0.0,2000-01-01,2017-03-01 06:31:57,-6301,1,1,31,3,2017
5018237,25924916.0,1.0,2017-04-03,832.29,0.0,2000-01-01,2017-03-02 18:26:29,-6302,1,1,31,3,2017
5133248,25927900.0,1.0,2017-04-08,832.29,0.0,2000-01-01,2017-03-07 14:26:10,-6307,1,1,31,3,2017
5071439,25928014.0,1.0,2017-04-06,832.29,0.0,2000-01-01,2017-03-05 08:35:46,-6305,1,1,31,3,2017
5125442,25928164.0,1.0,2017-04-08,832.29,0.0,2000-01-01,2017-03-07 10:51:25,-6307,1,1,31,3,2017
4985318,25928238.0,1.0,2017-04-02,832.29,0.0,2000-01-01,2017-03-01 11:58:37,-6301,1,1,31,3,2017
4985204,25928276.0,1.0,2017-04-02,832.29,0.0,2000-01-01,2017-03-01 11:55:59,-6301,1,1,31,3,2017
5010791,25928484.0,1.0,2017-04-03,832.29,0.0,2000-01-01,2017-03-02 12:37:55,-6302,1,1,31,3,2017
5070182,25928562.0,1.0,2017-04-06,832.29,0.0,2000-01-01,2017-03-05 03:12:01,-6305,1,1,31,3,2017
5028014,25928748.0,1.0,2017-04-04,832.29,0.0,2000-01-01,2017-03-03 09:26:44,-6303,1,1,31,3,2017
5002793,25928806.0,1.0,2017-04-02,832.29,0.0,2000-01-01,2017-03-01 23:45:09,-6301,1,1,31,3,2017
4987259,25928982.0,1.0,2017-04-02,832.29,0.0,2000-01-01,2017-03-01 12:46:09,-6301,1,1,31,3,2017
5060927,25929142.0,1.0,2017-04-05,832.29,0.0,2000-01-01,2017-03-04 17:49:42,-6304,1,1,31,3,2017
4991909,25929188.0,1.0,2017-04-02,832.29,0.0,2000-01-01,2017-03-01 15:51:35,-6301,1,1,31,3,2017
5058908,25929202.0,1.0,2017-04-05,832.29,0.0,2000-01-01,2017-03-04 15:51:18,-6304,1,1,31,3,2017
4975673,25929246.0,1.0,2017-04-02,832.29,0.0,2000-01-01,2017-03-01 00:11:48,-6301,1,1,31,3,2017
5119475,25929322.0,1.0,2017-04-08,832.29,0.0,2000-01-01,2017-03-07 00:24:12,-6307,1,1,31,3,2017
4979519,25929342.0,1.0,2017-04-02,832.29,0.0,2000-01-01,2017-03-01 09:21:02,-6301,1,1,31,3,2017
5074778,25929388.0,1.0,2017-04-06,832.29,0.0,2000-01-01,2017-03-05 11:24:48,-6305,1,1,31,3,2017
5002694,25929552.0,1.0,2017-04-02,832.29,0.0,2000-01-01,2017-03-01 23:16:50,-6301,1,1,31,3,2017
4980191,25930024.0,1.0,2017-04-02,832.29,0.0,2000-01-01,2017-03-01 09:42:14,-6301,1,1,31,3,2017
5032934,25930172.0,1.0,2017-04-04,832.29,0.0,2000-01-01,2017-03-03 12:19:30,-6303,1,1,31,3,2017
5000780,25930968.0,1.0,2017-04-02,832.29,0.0,2000-01-01,2017-03-01 20:57:13,-6301,1,1,31,3,2017
4994939,25931654.0,1.0,2017-04-02,832.29,0.0,2000-01-01,2017-03-01 17:14:55,-6301,1,1,31,3,2017
4986233,25932164.0,1.0,2017-04-02,832.29,0.0,2000-01-01,2017-03-01 12:20:05,-6301,1,1,31,3,2017
5010992,25933196.0,1.0,2017-04-03,832.29,0.0,2000-01-01,2017-03-02 12:54:01,-6302,1,1,31,3,2017
4989728,25933494.0,1.0,2017-04-02,832.29,0.0,2000-01-01,2017-03-01 14:26:55,-6301,1,1,31,3,2017

In [59]:
why = first_one_day[first_one_day.month==3].groupby(['required_repayment'])['label'].agg(['count','mean']).sort_index()#sort_values(by=['count'],ascending=False)

why.to_csv("why_201702.csv")
why[why['mean']==1].to_csv("why_201702_.csv")
why[why['mean']>0.4]


why = first_one_day[first_one_day.month==3].groupby(['required_repayment'])['label15'].agg(['count','mean']).sort_index()#sort_values(by=['count'],ascending=False)
why[why['mean']>0.3]

                    count  mean
required_repayment
803.40                 30   1.0
833.40                 58   1.0
1606.80                25   1.0
2290.21                21   1.0

In [61]:
why = first_one_day[first_one_day.month==2].groupby(['required_repayment'])['label'].agg(['count','mean']).sort_index()#sort_values(by=['count'],ascending=False)

why.to_csv("why_201701.csv")
why[why['mean']>0.3].to_csv("why_201701_.csv")
print(why[why['mean']>0.3])

why = first_one_day[first_one_day.month==2].groupby(['required_repayment'])['label15'].agg(['count','mean']).sort_index()#sort_values(by=['count'],ascending=False)

#why.to_csv("why_201701.csv")
#why[why['mean']>0.3].to_csv("why_201701_.csv")
why[why['mean']>0.3]

                    count      mean
required_repayment
740.31                  1  1.000000
741.19                  3  0.333333
743.40                  1  1.000000
797.90                 17  0.647059
803.40                197  0.568528
827.90                 18  0.555556
833.40                636  0.540881
1453.33                 1  1.000000
1595.80                20  0.400000
1606.80               146  0.541096
2273.69                16  0.625000
2290.21               127  0.377953

                    count      mean
required_repayment
740.31                  1  1.000000
741.19                  3  0.333333
743.40                  1  1.000000
797.90                 17  0.647059
803.40                197  0.532995
827.90                 18  0.500000
833.40                636  0.504717
1595.80                20  0.350000
1606.80               146  0.520548
2273.69                16  0.625000
2290.21               127  0.354331

In [65]:
why = first_one_day[(first_one_day.month==1)&(first_one_day.year==2017)].groupby(['required_repayment'])['label'].agg(['count','mean']).sort_index()#sort_values(by=['count'],ascending=False)
why['mean'] = np.round(why['mean'],3)
why[why['mean']>0.3].to_csv("why_201612_.csv")
print(why[why['mean']>0.3])

why2 = first_one_day[(first_one_day.month==1)&(first_one_day.year==2017)].groupby(['required_repayment'])['label15'].agg(['count','mean']).sort_index()#sort_values(by=['count'],ascending=False)
why2[why2['mean']>0.2]

                    count   mean
required_repayment
741.72                  2  0.500
797.90                 42  0.524
802.29                 55  0.582
803.40                318  0.472
827.90                 33  0.636
832.29                280  0.646
833.40                798  0.472
1486.80                 2  1.000
1595.80                35  0.543
1604.59                26  0.654
1606.80               225  0.591
2213.69                 1  1.000
2223.56                 2  0.500
2225.17                 1  1.000
2273.69                26  0.462
2286.88                50  0.720
2290.21               173  0.543

                    count      mean
required_repayment
741.72                  2  0.500000
797.90                 42  0.476190
802.29                 55  0.309091
803.40                318  0.433962
827.90                 33  0.606061
832.29                280  0.378571
833.40                798  0.427318
1486.80                 2  0.500000
1595.80                35  0.485714
1604.59                26  0.500000
1606.80               225  0.555556
2213.69                 1  1.000000
2223.56                 2  0.500000
2225.17                 1  1.000000
2273.69                26  0.461538
2286.88                50  0.600000
2290.21               173  0.537572